body {
	margin: 0;
	padding: 0;
}
h1, h2, h3{
    text-decoration: none;
    color: #E75C6B;
}
.title-intro{
    font-weight: bold;
    color: var(--primary_color);
    font-size: 30px;
}
p {
    font-family: 'Inter', sans-serif;
    text-align: justify;
}
.intro-center p {
    text-align: center;
}
.co2 p {
    text-align: center;
}
.center{
    margin-top: 30px;
display: flex;
align-items: center;
justify-content: center;

}
.intro{
 background-color: #FFEAE9;
 width: 1134px;
 height: auto;
 text-align: center;
 padding: 0 80px 0;
 justify-content: center;
}
.intro-center{
    padding-top: 30px;
    text-align: center;
    justify-content: center;
}
.content1{
    padding: 80px;
    display: flex;
    justify-content: center;
}
.icon{
    text-align: center;
}
.content2{
    display: flex;
    text-align: center;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
}
table, tr, td {
    border: solid 1px #E84D4D;
    width: 234px;
}
.co1{
    height: 241px;
}
.co2{
    background-color: #FFEAE9;
    height: auto;
}
.member{
    padding: 20px;
}
.member .name-member{
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 10px;
}
.infoNumbers__container {
    display: flex;
    justify-content: space-between;
}

.infoNumbers__item {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.infoNumbers__number {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    color: #E75C6B;
}

.infoNumbers__itemTitle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: black;

}
.infoNumbers__item span:nth-child(1) {
    text-align: center;
}


@import url('https://fonts.googleapis.com/css?family=Inter:400,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#header{
    background-color: white;
    /* position: fixed; */
    padding: 0px 5%;
    top: 0;
    left: 0;
    right:0;
    z-index: 99;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 126px;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    transition: top .2s ease;
}
#header.show{
    top: -1000px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: var(--hover_color)
}
#header a{
    text-decoration: none;
    color: var(--primary_color);
}
#header a:hover{
    color: var(--hover_color);
}
/* header-top */
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.header-top img{
    height: 80px;
    width: 80px;
}
.header-top .btn-search .search{
    width: 500px;
    height: 50px;
    border: 0 white;
    border-radius: 20px ;
    background-color: #FFEAE9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.header-top .btn-search{
    position: relative;
}
.header-top .btn-search .ti-search {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    background-color: #FFEAE9;
    border-radius: 50%;
    margin: 2px;
    border:  none;
}
.header-top .btn-search .ti-search:hover{
    color: var(--hover_color);
}
.btn-search input {

    padding: 0 60px 0 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */

}
.header-top .logo img{
    width: 200px;
}
.right-header-top{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */

}
.right-header-top div{
    margin: 0 20px;
    width: max-content;

}


.right-header-top li a{
    padding: 0 24px;
    line-height: 46px;
    display: block;
}


.right-header-top .account{
    position: relative;
}
.right-header-top .account .sub-nav{
    display: none;
    min-width: 240px;
    position: absolute;
    top:100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border-radius: 5px;
    z-index: 1;
    padding-left: 0;
}
.right-header-top .account:hover .sub-nav{
    display: block;
}
.right-header-top .account .sub-nav a:hover{
    background-color: bisque;
    color: var(--hover_color);
}





/* .header-bottom {
    display: flex;
    flex-wrap: nowrap;
    height: 46px;
} */
.header-bottom{
    overflow:hidden;
    height: 46px;
    display: flex;
    justify-content: space-around;

}
ul{
    list-style: none;
}
.nav > li{
    display: inline-block;
}

.nav >li > a{
    font-weight: bold;
    margin: 0 26px;
    position: relative;
}
.nav li a{
    padding: 0 5px;
    line-height: 46px;
    display: block;
}


.header-bottom .nav >li >a::after{
    content: "";
    height: 3px;
    background-color: var(--hover_color);
    position: absolute;
    bottom: 5px;
    left: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.header-bottom .nav li a:hover::after{
    width: 100%;
    transform: scaleX(1);
}
.now>a{
    color: var(--hover_color)!important;
}

.header-bottom .sub-nav{
    display: none;
    min-width: 250px;
    position: absolute;
    top:100%;
    margin-left: 37px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-left: 0;
    border-radius: 5px;
    z-index: 3;
}

.nav{
    display: inline-block;
}
.nav li:hover .sub-nav{
    display: block;
}
.nav .sub-nav li:hover a{
    background-color: bisque;
    color: var(--hover_color);
}
.nav>li:hover>a{
    color: var(--hover_color);
}











/* footer */

/* footer-top */
.footer-top{
    display: flex;
    background-color: #FFEAE9;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}
.introduction p {
    text-align: justify;
    font-family: 'Inter', sans-serif;
}
.footer-top__left{
    display: flex;
}
.footer-top__left .ti-email{
    font-size: 70px;
    padding: 0 20px;
    color: var(--primary_color);
}
.footer-top__left .content p{
    margin-bottom: 0;
}
.footer-top__left .content .title{
    font-weight: bold;
    font-size: 25px;
}


.footer-top__right input{
    width: 500px;
    height: 50px;
    padding: 0 60px 0 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
.footer-top__right button{
    width: 70px;
    height: 50px;
    background-color: var(--primary_color);
    border-radius: 10px;
    border:  none;
    color: white;
    margin-left: 20px;
}



/* footer-bottom */
.footer-bottom{
    display: flex;
    padding: 0 10px;
}
.footer-bottom div{
    padding: 0 20px;
}
.footer-bottom h5{
    font-weight: bold;
    color: var(--primary_color);
    padding: 10px 0;
}
.footer-bottom .introduction i{
    font-size: 45px;
    padding: 10px 30px 0 0;
    color: var(--primary_color);
}
.footer-bottom .introduction i:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}
.footer-bottom .contact i{
    color: var(--primary_color);
}

.payment-top, .payment-bottom {
    display: flex;
    justify-content: space-around;

}
.payment-bottom{
    margin-top: 20px;
}
.payment-method{
    width: 50px;
    height: 45px;
}
.payment-method:hover{
    transform: scale(1.3);
}

.comments-right {
    font-family: 'Inter', sans-serif;
    text-align: justify;
}
.content {
    font-family: 'Inter', sans-serif;
}
.new-product .name{
    color:var(--primary_color);
    font-weight: 550;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.input {
    background-color: var(--primary_color);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    vertical-align: middle;
    margin: 15px;
    font-size: 22px;

}

.input:hover {
    background-color: var(--hover_color);
    color: black;
}

.contact {
    font-family: 'Inter', sans-serif;
}
h5 {
    font-family: 'Montserrat', sans-serif;
}

.support a {
    font-family: 'Inter', sans-serif;
}

.link a {
    font-family: 'Inter', sans-serif;
}


#backtop{
    width: 50px;
    height: 50px;
    background-color: var(--primary_color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#chatbox{
    width: 60px;
    height: 60px;
    background-color: var(--hover_color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 150px;
    right: 20px;
}
#phone{
    width: 60px;
    height: 60px;
    background-color: var(--hover_color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    right: 20px;
}

.header-chatWrapper{
    display: flex;
    justify-content: space-between;
}
.header-chatWrapper img{
    width: 60px;
    border-radius: 50%;
}
#chatWrapper .close{
    cursor: pointer;
}
#chatWrapper{
    width: 410px;
    height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    position: fixed;
    bottom: 10px;
    right: 85px;
    z-index: 99;
    display: none;



}

#chatWrapper.showchat{
    display: block;
}

#chatWrapper h4{
    margin-top: 20px;
}
#chatWrapper p{
    margin-top: 30px;
}
#chatWrapper #close{
    cursor: pointer;
}
#chatWrapper .button1{
    border: none;
    border-radius: 20px;
    background-color: var(--button_color);
    width: 300px;
    color: white;
    margin-top: 100px;
    padding: 10px;
    margin-left: 40px;
}
#chatWrapper .button2{
    border: none;
    border-radius: 20px;
    width: 300px;
    margin-top: 10px;
    padding: 10px;
    margin-left: 40px;
}




@media (min-width: 1400px){
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 2500px;
  }}

@media (min-width: 740px){
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
      max-width: 1800px;
}}



@media (max-width: 1023px) and (min-width: 740px) {

  #header{
      font-size: 0.8rem;
  }
  .story{
      display: none !important;
  }
  .header-top .btn-search .search{
      width: 320px;
  }
  .nav >li > a{
      margin: 0 30px;
  }
  .hot-products .product{
      font-size: 0.8rem;
      padding: 0;
  }
  section{

      width: 100%;
  }

  .comments{
      width: 50%;
  }

  .comments.comments-right{
      font-size: 0.8rem;
  }
  .swiper {
      width: 90%;
      height: 90%;
      /* margin: 0; */
    }

  .swiper-slide{
      width: 100px;
  }
  .footer-top__right input{
      width: 200px;
  }

  .product.final{
      display: none;
  }
  .swiper-button-prev{
      left: -2px !important;
  }
  .swiper-button-next{
      right: -2px !important;
  }



  #products .product{
      background-color: #f0d9d8;
      text-align: center;
      border-radius: 10px;
      margin: 30px;
      display: inline-block;
      padding: 5px;
      height: 310px;
      width: 210px;
  }
  #products .product > *{
      padding: 5px;
  }
  #products .product p{
      margin-bottom: 0;
  }
  #products .product img{
      width: 180px;
      padding: 20px;
      border-radius: 40px;
  }
  #products .product .img-product{
      position: relative;
  }
  #products .product .name{
      font-weight: bold;
      text-transform:uppercase;
      font-size: 15px;
  }
  #products .product .cart-love{
      background-color: #f38a95;
      width: 40%;
      position: absolute;
      left: 30%;
      bottom:0;
      border-radius: 10px;
      font-size: 25px;
  }
  #products .product .star{
      color: yellow;
      font-size: 15px;
  }
  .vote{
      text-align: right;
      color: rgb(143, 143, 133);
      font-weight: 500;
      font-size: 15px;
  }
  .product .price{
      font-size: 15px;
  }

  .list-product .title{
      font-size: 25px;
  }
  .list-product ul{
      font-size: 17px;
  }
  .footer-top .ti-email{
      font-size: 50px;
  }
  .footer-top__left .content .title{
      font-weight: bold;
      font-size: 17px;
  }
  .footer-top__left .content .para{
      font-size: 17px;
  }
  .footer-bottom{
      font-size: 17px;
  }
  .footer-bottom h5{
      font-size: 20px;
  }
  .payment-method{
      width: 40px;
      height: 35px;
  }
}
/*mobile*/
@media (max-width: 740px) {

  .header{
      font-size: 14px;
  }
  .header-bottom{
      display: none;
  }
  .header-top {
      display: none;
  }
}



