<body>
  <div class="container">
      <!-- Header -->

  <div class="center">
      <div class="intro">
          <h1 class="heading">MEMORY</h1>
          <h2 class="heading"> ---Legendary Bakery---</h2>
          <p>Memory là một thương hiệu chuyên về các loại bánh ngọt với hương vị đặc sắc và thơm ngon
              đã có thể tiếp cận được với lượng khách hàng lớni. Chúng tôi sử dụng công nghệ sản xuất
              theo yêu cầu để kết nối các nhà cung cấp nguyên vạt với chuỗi cung ứng linh hoạt của
              chúng tôi, giảm lãn. Từ các văn phòng toàn cầu của mình,
              chúng tôi tiếp cận khách hàng tại hơn 99200 tệp khách hàng. Để tìm hiểu thêm về Memory,
               hãy  truy cập vào trang www.</p>
        </div>
  </div>

  <div class="intro-center">
      <p class="title-intro">TẠI SAO BẠN NÊN CHỌN CHÚNG TÔI</p>
      <p>“Hãy cùng điểm qua những con số đã làm nên  thương hiệu bánh MEMORY của chúng tôi!”</p>
  </div>
  <div class="content">
      <div class="section">
          <!-- <p class="section-title">chúng tôi cam kết</p> -->
          <div id="data-number">
              <div class="infoNumbers__container">
                  <div class="infoNumbers__item">
                      <span><img src="../assets/img/aboutUs/sales.png" alt=""></span>
                      <span class="infoNumbers__number th" data-target="45200">45200</span>
                      <div class="infoNumbers__info">
                          <p class="infoNumbers__itemTitle">Lượt bán hàng</p>
                      </div>
                  </div>

                  <div class="infoNumbers__item">
                      <span><img src="../assets/img/aboutUs/endow.png" alt=""></span>
                      <span class="infoNumbers__number" data-target="600">600</span>
                      <div class="infoNumbers__info">
                          <p class="infoNumbers__itemTitle">Ưu đãi</p>
                      </div>
                  </div>

                  <div class="infoNumbers__item">
                      <span><img src="../assets/img/aboutUs/customer.png" alt=""></span>
                      <span class="infoNumbers__number" data-target="8920">8920</span>
                      <div class="infoNumbers__info">
                          <p class="infoNumbers__itemTitle">Khách hàng thân thiết</p>
                      </div>
                  </div>

                  <div class="infoNumbers__item">
                      <span><img src="../assets/img/aboutUs/review.png" alt=""></span>
                      <span class="infoNumbers__number" data-target="3200">3200</span>
                      <div class="infoNumbers__info">
                          <p class="infoNumbers__itemTitle">Đánh giá</p>
                      </div>
                  </div>

                  <div class="infoNumbers__item">
                      <span><img src="../assets/img/aboutUs/approach.png" alt=""></span>
                      <span class="infoNumbers__number" data-target="550">500</span>
                      <div class="infoNumbers__info">
                          <p class="infoNumbers__itemTitle">Tiếp cận</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="intro-center">
          <p class="title-intro">ĐỘI NGŨ NHÂN SỰ</p>
      </div>
      <div class="content2">
          <div class="member">
          <table>
              <tr class="co1">
                  <td><img src="../assets/img/aboutUs/2.png" alt=""></td>
              </tr>
              <tr class="co2">
                  <td>
                     <p class="name-member">Xuân Nguyên</p>
                     <p>Project Manager</p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="member">
          <table>
              <tr class="co1">
                  <td><img src="../assets/img/aboutUs/1.png" alt=""></td>
              </tr>
              <tr class="co2" >
                  <td>
                     <p class="name-member">Thị Thuận</p>
                     <p>QA / QC</p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="member">
          <table>
              <tr class="co1">
                  <td><img src="../assets/img/aboutUs/4.png" alt=""></td>
              </tr>
              <tr class="co2">
                  <td>
                     <p class="name-member">Đỗ Dương</p>
                     <p>Developer</p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="member">
          <table>
              <tr class="co1">
                  <td><img src="../assets/img/aboutUs/5.png" alt=""></td>
              </tr>
              <tr class="co2">
                  <td>
                     <p class="name-member">Đan Nhi</p>
                     <p>UI/UX - Design</p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="member">
          <table>
              <tr class="co1">
                  <td>
                      <img src="../assets/img/aboutUs/3.png" alt="">
                  </td>
              </tr>
              <tr class="co2">
                  <td>
                     <p class="name-member">Thùy Dung</p>
                     <p>Business Analyst</p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="member">
        <table>
            <tr class="co1">
                <td>
                    <img src="../assets/img/aboutUs/6.png" alt="" width="200px"  height="220px">
                </td>
            </tr>
            <tr class="co2">
                <td>
                   <p class="name-member">Ánh Trúc</p>
                   <p> Customer Assistant</p>
                </td>
            </tr>
        </table>
    </div>

  </div>
</div>

</div>



</body>
