<body>
  <div class="container">
      <!-- Header -->
      <div id="header">
          <div class="header-top">
             <div class="logo">
                  <a href="./main.html"><img src="../assets/img/logo.jpg" alt=""></a>
             </div>
             <div class="btn-search" >
              <form class="inputSearch" onsubmit="submitForm(event)">
                  <input
                      type="text" class="search" id="inputvalue">

                  <button class="ti-search"></button>
              </form>
             </div>
              <div class="right-header-top">
                  <div class="account">
                      <a href="" >
                          <i class="fa-solid fa-user"></i>
                         <span>Tài khoản</span>
                      </a>
                      <ul class="sub-nav">
                          <li>
                              <a href="./myAccount.html">
                                  <i class="fa-solid fa-user"></i> Tài khoản của tôi
                              </a>
                          </li>
                          <li>
                              <a href="./register.html">
                                  <i class="fa-solid fa-user-plus"></i> Đăng kí
                              </a>
                          </li>
                          <li>
                              <a href="./login.html">
                                  <i class="fa-solid fa-right-to-bracket"></i> Đăng nhập
                              </a>
                          </li>

                      </ul>
                  </div>
                  <div class="cart">
                      <a href="./cart.html">
                          <i class="fa-solid fa-cart-shopping"></i>
                          <span>Giỏ hàng</span></a>
                  </div>
                  <div class="phone">
                      <a href="">
                          <i class="fa-solid fa-phone"></i>
                          <span> 0905792559</span>
                      </a>
                  </div>
              </div>
          </div>
          <div class="header-bottom">
              <ul class="nav">
                  <li>
                          <a href="../html/listProduct.html">
                              <i class="fa-sharp fa-solid fa-list"></i>
                              Danh mục sản phẩm
                              <i class="nav-arrow-down ti-angle-down"></i>
                          </a>
                          <ul class="sub-nav">
                              <li class="type_category"><a href="./productBanhkem.html"> Bánh kem</a></li>
                              <li class="type_category"><a href="./productCupcakes.html"> Cupcakes</a></li>
                              <li class="type_category"><a href="./productBanhquy.html"> Bánh quy</a></li>
                              <li class="type_category"><a href="./productDonuts.html"> Donuts</a></li>
                              <li class="type_category"><a href="./productBanhmi.html"> Bánh mì</a></li>
                          </ul>
                  </li>
                  <li class="main"><a href="../html/main.html"><span> Trang chủ</span></a></li>
                  <li class="promotion"><a href="./promotion.html">Khuyến mãi</a></li>
                  <li class="story now"><a href="./aboutUs.html">Câu chuyện thương hiệu</a></li>
                  <li class="blog"><a href="./blog.html">Tin tức</a></li>
                  <li class="contact"><a href="./contact.html">Liên hệ</a></li>
              </ul>
          </div>
      </div>
  <div class="center">
      <div class="intro">
          <h1 class="heading">MEMORY</h1>
          <h2 class="heading"> ---Legendary Bakery---</h2>
          <p>Memory là một thương hiệu chuyên về các loại bánh ngọt với hương vị đặc sắc và thơm ngon
              đã có thể tiếp cận được với lượng khách hàng lớni. Chúng tôi sử dụng công nghệ sản xuất
              theo yêu cầu để kết nối các nhà cung cấp nguyên vạt với chuỗi cung ứng linh hoạt của
              chúng tôi, giảm lãn. Từ các văn phòng toàn cầu của mình,
              chúng tôi tiếp cận khách hàng tại hơn 99200 tệp khách hàng. Để tìm hiểu thêm về Memory,
               hãy  truy cập vào trang www.</p>
        </div>
  </div>

  <div class="intro-center">
      <p class="title-intro">TẠI SAO BẠN NÊN CHỌN CHÚNG TÔI</p>
      <p>“Hãy cùng điểm qua những con số đã làm nên  thương hiệu bánh MEMORY của chúng tôi!”</p>
  </div>
  <div class="content">
      <div class="section">
          <!-- <p class="section-title">chúng tôi cam kết</p> -->
          <div id="data-number">
              <div class="infoNumbers__container">
                  <div class="infoNumbers__item">
                      <span><img src="../assets/img/aboutUs/sales.png" alt=""></span>
                      <span class="infoNumbers__number th" data-target="45200">0</span>
                      <div class="infoNumbers__info">
                          <p class="infoNumbers__itemTitle">Lượt bán hàng</p>
                      </div>
                  </div>

                  <div class="infoNumbers__item">
                      <span><img src="../assets/img/aboutUs/endow.png" alt=""></span>
                      <span class="infoNumbers__number" data-target="600">0</span>
                      <div class="infoNumbers__info">
                          <p class="infoNumbers__itemTitle">Ưu đãi</p>
                      </div>
                  </div>

                  <div class="infoNumbers__item">
                      <span><img src="../assets/img/aboutUs/customer.png" alt=""></span>
                      <span class="infoNumbers__number" data-target="8920">0</span>
                      <div class="infoNumbers__info">
                          <p class="infoNumbers__itemTitle">Khách hàng thân thiết</p>
                      </div>
                  </div>

                  <div class="infoNumbers__item">
                      <span><img src="../assets/img/aboutUs/review.png" alt=""></span>
                      <span class="infoNumbers__number" data-target="3200">0</span>
                      <div class="infoNumbers__info">
                          <p class="infoNumbers__itemTitle">Đánh giá</p>
                      </div>
                  </div>

                  <div class="infoNumbers__item">
                      <span><img src="../assets/img/aboutUs/approach.png" alt=""></span>
                      <span class="infoNumbers__number" data-target="550">0</span>
                      <div class="infoNumbers__info">
                          <p class="infoNumbers__itemTitle">Tiếp cận</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="intro-center">
          <p class="title-intro">ĐỘI NGŨ NHÂN SỰ</p>
      </div>
      <div class="content2">
          <div class="member">
          <table>
              <tr class="co1">
                  <td><img src="../assets/img/aboutUs/2.png" alt=""></td>
              </tr>
              <tr class="co2">
                  <td>
                     <p class="name-member">Xuân Nguyên</p>
                     <p>Project Manager</p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="member">
          <table>
              <tr class="co1">
                  <td><img src="../assets/img/aboutUs/1.png" alt=""></td>
              </tr>
              <tr class="co2" >
                  <td>
                     <p class="name-member">Thị Thuận</p>
                     <p>QA / QC</p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="member">
          <table>
              <tr class="co1">
                  <td><img src="../assets/img/aboutUs/4.png" alt=""></td>
              </tr>
              <tr class="co2">
                  <td>
                     <p class="name-member">Đỗ Dương</p>
                     <p>Developer</p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="member">
          <table>
              <tr class="co1">
                  <td><img src="../assets/img/aboutUs/5.png" alt=""></td>
              </tr>
              <tr class="co2">
                  <td>
                     <p class="name-member">Đan Nhi</p>
                     <p>UI/UX - Design</p>
                  </td>
              </tr>
          </table>
      </div>
      <div class="member">
          <table>
              <tr class="co1">
                  <td>
                      <img src="../assets/img/aboutUs/3.png" alt="">
                  </td>
              </tr>
              <tr class="co2">
                  <td>
                     <p class="name-member">Thùy Dung</p>
                     <p>Business Analyst</p>
                  </td>
              </tr>
          </table>
      </div>

  </div>
</div>
<div class="footer">
  <div class="footer-top">
      <div class="footer-top__left">
          <i class="ti-email"></i>
          <div class="content">
              <p class="title" style="font-family: 'Montserrat', sans-serif;">ĐĂNG KÍ NHẬN BẢN TIN</p>
              <p class="para">Bạn sẽ luôn nhận được thông tin khuyến mãi mới và đặc biệt nhất!</p>
          </div>
      </div>
      <div class="footer-top__right">
          <input type="text" placeholder="Nhập email của bạn tại đây!">
          <button type="button" class="btn btn-primary input">
              Gửi
          </button>

      </div>
  </div>
  <div class="footer-bottom">
      <div class="introduction col-5">
          <h5>Giới thiệu</h5>
          <p>Memory Bakery là một kênh bán hàng trực tuyến chuyên cung cấp các mặt hàng bánh ngọt bao gồm các loại bánh và phụ kiện dành cho các buổi tiệc. Memory Bakery hướng tới cung cấp một kênh bán hàng sinh động, đơn giản nhưng đầy đủ các tính năng cần thiết để mang tới những trải nghiệm tốt nhất cho khách hàng</p>
          <a href="./main.html"><img src="../assets/img/logo.jpg" alt=""></a><br>
          <a href="https://www.facebook.com/xn2002"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.youtube.com/@F8VNOfficial"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="contact col-3" >
          <h5>Thông tin liên hệ</h5>
          <span style="display:flex"><i style="margin-top: 5px;padding-right: 10px;" class="fa-solid fa-location-dot"></i> Ký túc xá khu B, Linh Trung, Thủ Đức, Hồ Chí Minh</span>
          <span><i class="fa-solid fa-phone"></i> 0905792559</span> <br>
          <span><i class="fa-solid fa-fax"></i> 1900.900.900</span><br>
          <span><i class="fa-sharp fa-solid fa-envelope"></i> memory@gmail.com</span>
          <h5>Phương thức thanh toán</h5>
          <div class="payment-top">
              <img class="payment-method" src="../assets/img/PHƯƠNG THỨC THANH TOÁN/DOB.png" alt="">
              <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/Momo.png" alt="" class="payment-method">
              <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/Mastercard.png" alt="" class="payment-method">
          </div>
          <div class="payment-bottom">
              <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/JCB.png" alt="" class="payment-method">
              <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/VISA.png" alt="" class="payment-method">
          </div>
      </div>
      <div class="support col-2" >
          <h5>Hỗ trợ</h5>
          <a href="">Tìm kiếm</a><br>
          <a href="./aboutUs.html">Giới thiệu</a><br>
          <a href="./paymentPolicy.html">Chính sách thanh toán</a><br>
          <a href="./privacyPolicy.html">Chính sách bảo mật</a><br>
          <a href="./contact.html">Liên hệ</a>
      </div>
      <div class="link col-2">
          <h5>Liên kết</h5>
          <a href="./productBanhkem.html">Bánh kem</a><br>
          <a href="./productCupcakes.html">Cupcakes</a><br>
          <a href="./productBanhquy.html">Bánh quy</a><br>
          <a href="./productDonuts.html">Donuts</a><br>
          <a href="./productBanhmi.html">Bánh mì</a>
      </div>
  </div>
</div>

</div>
  <script>
    var prevScrollpos = window.pageYOffset;
        window.onscroll = function() {
        var currentScrollPos = window.pageYOffset;
        if (prevScrollpos > currentScrollPos) {
        document.getElementById("header").classList.remove('show');
        }
        else { document.getElementById("header").classList.add('show');
        }
        prevScrollpos = currentScrollPos;
        }
  </script>
  <script src="../assets/javascript/loadContent.js"></script>
  <script src="../assets/javascript/infoNumbers.js"></script>
  <script src="../assets/javascript/main.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

</body>
