@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Inter:400,800');
.cart-container{
    padding: 0;
    margin: 0 100px 0 100px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --primary_color: #E75C6B;
    --color_button: #F38A95;
    --background-color: #F9F2F2;
    --button: #F38A95;
    --button_hover: #81C6E8;
}

.body {
    display: flex;
}
.main {
    margin: auto;
}
/* Thanh điều hướng */
.navigation {
    width: auto;
    height: 35px;
    background-color: var(--background-color);
    margin: 15px 0 15px 0;
}

ol {
    list-style: none;
    display: flex;
    padding: 0;
    line-height: 35px;
    margin-left: 10px;
}
ol li {
    margin-left: 10px;
    font-size: 14px ;
}

.cart-title{
    /* background-color: var(--background-color); */
    padding: 15px;
    margin-bottom: 10px;
}
h4 {
    width: 100%;
    font-size: 40px;
    color: var(--primary_color);
    font-weight: bold;
    margin: auto ;
    font-family: 'Montserrat', sans-serif;
}


.cart-header {
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr 1.5fr 2fr 0.5fr;
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 26px;
    padding: 20px 0 20px 0;
    background-color: var(--primary_color);
    color: white;
}

.cart-product {
    display: grid;
    grid-template-columns: 0.5fr 3fr 2fr 1.5fr 2fr 0.5fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    word-spacing: 3px;
    /* margin: 5% 2%; */
}

.cart-product:hover {
    background-color: var(--button_hover);
}

.cart-info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}

.product-description {
    text-align: left;
    padding-left: 10%;
}

.price-info {
    display: grid;

}

.price, .product_total {
    text-align: right;
    /* margin-right: 25%; */
}

.currency {
    text-align: left;
    margin-left: 10px;
}

.quantity-box {
    display: flex;
    justify-content: center;
    text-align: center;
}

.quantity-box button,
.quantity-box input {
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
    background-color: #f1f1f1;
    color: #333333;
    font-size: 16px;
    padding: 0;
}

.quantity-decrease {
    border-radius: 50% 0 0 50%;
    cursor: pointer;
}

.quantity-increase {
    border-radius: 0 50% 50% 0;
    cursor: pointer;
}

.order-info {
    display: flex;
    margin-top: 1%;
    font-size: 1.4rem;
}

.voucher{
    flex: 1;
}

.total {
    flex: 2;
    padding: 5px;
    text-align: right;
    font-size: 1.5 rem;
    margin-left: 20%;

}

.voucher-info {
    display: grid;
    margin: 3% 0 8% 0;
    grid-template-columns: 3fr 1fr;
}

#input-voucher {
    border-radius: 20px 0 0 20px;
    border: 1px solid  gray;
    border-right: none;
    background-color: white;
    color: black;
    font-style: bold;
    text-align: center;
    width: 100%;
    height: 45px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#input-voucher:focus {
    border: 1px solid var(--primary_color);
    outline: none;
}

#input-voucher::placeholder {
    border: var(--primary_color);
    color: gray;
}

#apply {
    background-color: var(--primary_color);
    font-weight: bolder;
    color: white;
    border: none;
    outline: none;
    border-radius: 0 20px 20px 0;
    text-align: center;
    vertical-align: middle;
    height: 45px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

#apply:hover {
    background-color: var(--button_hover);
    color: black;
}

#apply:disabled {
    background-color: gray;
    cursor: not-allowed;
    color: white;
}

.row {
    display: flex;
    margin-bottom: 10px;
}
.label {
    flex: 1;
    text-align: left;
}
.total_price  {
    flex:1;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}


.voucher-title {
    font-size: 19px;
    color: var(--primary_color);
}
.input {
    background-color: var(--primary_color);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    vertical-align: middle;
    margin: 15px;
    font-size: 22px;

}

.input:hover {
    background-color: var(--button_hover);
    color: black;
}
.remove-all {
    width: 100px;
    margin-left: 20px;
}
.button {
    display: flex;
}

.button_left {
    flex:1;
}
.button_right {
    flex:1;
    text-align: right;
    margin-right: 10px;
}
.order {
    width: 150px;
}
.row2 {
    display: flex;
    justify-content: space-between;
}

.left-title {
    text-align: left;
    font-size: 24px;
}
.right-title {
    text-align: right;
}

.total-payment {
    font-size: 23px;
    font-weight: bold;
    color: var(--primary_color);
    padding-bottom: 0;
    margin-bottom: 0;
}

.col {
    font-weight: bold;
    color: var(--primary_color);
}

.text-center{
    margin-top: 20px!important;
}
.payment{
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);;
}

#all,#pr1 {
    width: 15px;
    height: 15px;
}

.payment.row {
    --height:40px;
    height: var(--height);
    line-height: var(--height);
}
.col-12 {
    font-size: 23px;
}
