
<body>
  <div id="header">
      <div class="header-top">
         <div class="logo">
              <a href="./main.html"><img src="../assets/img/logo.jpg" alt=""></a>
         </div>
         <div class="btn-search" >
          <form class="inputSearch" onsubmit="submitForm(event)">
              <input
                  type="text" class="search" id="inputvalue">

              <button class="ti-search"></button>
          </form>
         </div>
          <div class="right-header-top">
              <div class="account">
                  <a href="" >
                      <i class="fa-solid fa-user"></i>
                     <span>Tài khoản</span>
                  </a>
                  <ul class="sub-nav">
                      <li>
                          <a href="./myAccount.html">
                              <i class="fa-solid fa-user"></i> Tài khoản của tôi
                          </a>
                      </li>
                      <li>
                          <a href="./register.html">
                              <i class="fa-solid fa-user-plus"></i> Đăng kí
                          </a>
                      </li>
                      <li>
                          <a href="./login.html">
                              <i class="fa-solid fa-right-to-bracket"></i> Đăng nhập
                          </a>
                      </li>

                  </ul>
              </div>
              <div class="cart">
                  <a href="./cart.html">
                      <i class="fa-solid fa-cart-shopping"></i>
                      <span>Giỏ hàng</span></a>
              </div>
              <div class="phone">
                  <a href="">
                      <i class="fa-solid fa-phone"></i>
                      <span> 0905792559</span>
                  </a>
              </div>
          </div>
      </div>
      <div class="header-bottom">
          <ul class="nav">
              <li>
                      <a href="../html/listProduct.html">
                          <i class="fa-sharp fa-solid fa-list"></i>
                          Danh mục sản phẩm
                          <i class="nav-arrow-down ti-angle-down"></i>
                      </a>
                      <ul class="sub-nav">
                          <li class="type_category"><a href="./productBanhkem.html"> Bánh kem</a></li>
                          <li class="type_category"><a href="./productCupcakes.html"> Cupcakes</a></li>
                          <li class="type_category"><a href="./productBanhquy.html"> Bánh quy</a></li>
                          <li class="type_category"><a href="./productDonuts.html"> Donuts</a></li>
                          <li class="type_category"><a href="./productBanhmi.html"> Bánh mì</a></li>
                      </ul>
              </li>
              <li class="main"><a href="../html/main.html"><span> Trang chủ</span></a></li>
              <li class="promotion"><a href="./promotion.html">Khuyến mãi</a></li>
              <li class="story"><a href="./aboutUs.html">Câu chuyện thương hiệu</a></li>
              <li class="blog"><a href="./blog.html">Tin tức</a></li>
              <li class="contact now"><a href="./contact.html">Liên hệ</a></li>
          </ul>
      </div>
  </div>

  <div class="container body">
      <div class="row">
        <div class="col-5">
          <div class="body-left">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.0731212783217!2d106.78039021744384!3d10.882043100000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d89aad780e49%3A0x54542761d4c22175!2zS8O9IHTDumMgeMOhIEtodSBCIMSQ4bqhaSBo4buNYyBRdeG7kWMgZ2lhIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1669530877466!5m2!1svi!2s" width="618" height="297" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <h2>Liên hệ với chúng tôi</h2>
              <span style="display:flex"><i style="margin-top: 5px;padding-right: 10px;" class="fa-solid fa-location-dot"></i> Ký túc xá khu B, Linh Trung, Thủ Đức, Hồ Chí Minh</span>
              <span><i class="fa-solid fa-phone"></i> 0905792559</span> <br>
              <span><i class="fa-solid fa-fax"></i> 1900.900.900</span><br>
              <span><i class="fa-sharp fa-solid fa-envelope"></i> memory@gmail.com</span> <br>
              <span><i class="fa-sharp fa-solid fa-building"></i></span>
              <span> Cửa hàng bánh Memory <br>
                  <span style="margin-left: 20px;">Mã số doanh nghiệp: 0103833363 <br></span>
                  <span style="margin-left: 20px;"></span>Cấp ngày: 14/05/2021</span>
          </div>
        </div>
        <div class="col-7">
          <div class="body-right">
              <h2>Chat với chúng tôi</h2>
              <div class="mb-3">
                  <label for="formGroupExampleInput" class="form-label">Họ và tên</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nhập họ và tên của bạn">
                </div>
                <div class="mb-3">
                  <label for="formGroupExampleInput2" class="form-label">Địa chỉ E-mail</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nhập địa chỉ E-mail của bạn">
                </div>
                <div class="mb-3">
                  <label for="formGroupExampleInput2" class="form-label">Tin nhắn</label>
                  <textarea class="form-control" aria-label="With textarea" placeholder="Gửi lời nhắn của bạn tại đây"></textarea>
                </div>
                <button type="button" class="btn btn-primary submit">
                  Gửi
              </button>

          </div>
        </div>
      </div>
    </div>




    <div class="footer">
      <div class="footer-top">
          <div class="footer-top__left">
              <i class="ti-email"></i>
              <div class="content">
                  <p class="title" style="font-family: 'Montserrat', sans-serif;">ĐĂNG KÍ NHẬN BẢN TIN</p>
                  <p class="para">Bạn sẽ luôn nhận được thông tin khuyến mãi mới và đặc biệt nhất!</p>
              </div>
          </div>
          <div class="footer-top__right">
              <input type="text" placeholder="Nhập email của bạn tại đây!">
              <button type="button" class="btn btn-primary input">
                  Gửi
              </button>

          </div>
      </div>
      <div class="footer-bottom">
          <div class="introduction col-5">
              <h5>Giới thiệu</h5>
              <p>Memory Bakery là một kênh bán hàng trực tuyến chuyên cung cấp các mặt hàng bánh ngọt bao gồm các loại bánh và phụ kiện dành cho các buổi tiệc. Memory Bakery hướng tới cung cấp một kênh bán hàng sinh động, đơn giản nhưng đầy đủ các tính năng cần thiết để mang tới những trải nghiệm tốt nhất cho khách hàng</p>
              <a href="./main.html"><img src="../assets/img/logo.jpg" alt=""></a><br>
              <a href="https://www.facebook.com/xn2002"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://www.youtube.com/@F8VNOfficial"><i class="fa-brands fa-youtube"></i></a>
          </div>
          <div class="contact col-3" >
              <h5>Thông tin liên hệ</h5>
              <span style="display:flex"><i style="margin-top: 5px;padding-right: 10px;" class="fa-solid fa-location-dot"></i> Ký túc xá khu B, Linh Trung, Thủ Đức, Hồ Chí Minh</span>
              <span><i class="fa-solid fa-phone"></i> 0905792559</span> <br>
              <span><i class="fa-solid fa-fax"></i> 1900.900.900</span><br>
              <span><i class="fa-sharp fa-solid fa-envelope"></i> memory@gmail.com</span>
              <h5>Phương thức thanh toán</h5>
              <div class="payment-top">
                  <img class="payment-method" src="../assets/img/PHƯƠNG THỨC THANH TOÁN/DOB.png" alt="">
                  <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/Momo.png" alt="" class="payment-method">
                  <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/Mastercard.png" alt="" class="payment-method">
              </div>
              <div class="payment-bottom">
                  <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/JCB.png" alt="" class="payment-method">
                  <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/VISA.png" alt="" class="payment-method">
              </div>
          </div>
          <div class="support col-2" >
              <h5>Hỗ trợ</h5>
              <a href="">Tìm kiếm</a><br>
              <a href="./aboutUs.html">Giới thiệu</a><br>
              <a href="./paymentPolicy.html">Chính sách thanh toán</a><br>
              <a href="./privacyPolicy.html">Chính sách bảo mật</a><br>
              <a href="./contact.html">Liên hệ</a>
          </div>
          <div class="link col-2">
              <h5>Liên kết</h5>
              <a href="./productBanhkem.html">Bánh kem</a><br>
              <a href="./productCupcakes.html">Cupcakes</a><br>
              <a href="./productBanhquy.html">Bánh quy</a><br>
              <a href="./productDonuts.html">Donuts</a><br>
              <a href="./productBanhmi.html">Bánh mì</a>
          </div>
      </div>
  </div>
</body>
