

.swiper-wrapper{
  margin-left: 5px;
  margin-top: 5px;

}

.swiper-slide{
  width: 250px;
}
.star{
    color: yellow;
}
.cart-love{
  background-color: #f38a95;
  width: 40%;
  position: absolute;
  left: 30%;
  bottom:0px;
  border-radius: 10px;
  font-size: 25px;

}
.name{
  font-weight: bold;
}
.img-product{
  position: relative;
}
img{
  width: 250px;
  padding: 20px;
  border-radius: 40px;
}
.product{
  background-color: #f0d9d8;
  text-align: center;
  border-radius: 10px;
  /* margin: 30px; */
  display: inline-block;
  padding: 5px;
  border-radius: 25px;
  width: 300px;
}
.product > *{
  padding: 5px;
}
.product span{
  padding: 5px;
}
.old-price{
  color: #887e7d;
  text-decoration: line-through;
}
.new-price{
  color: red;
}
.hot-product{
  display:flex;
  flex-wrap: wrap;


}


.product img:hover{
  box-shadow: 5px 6px 6px 2px #cccecf;
}
