<div class="footer">
  <div class="footer-top">
      <div class="footer-top__left">
          <i class="ti-email"></i>
          <div class="content">
              <p class="title" style="font-family: 'Montserrat', sans-serif;">ĐĂNG KÍ NHẬN BẢN TIN</p>
              <p class="para">Bạn sẽ luôn nhận được thông tin khuyến mãi mới và đặc biệt nhất!</p>
          </div>
      </div>
      <div class="footer-top__right">
          <input type="text" placeholder="Nhập email của bạn tại đây!">
          <button type="button" class="btn btn-primary input">
              Gửi
          </button>

      </div>
  </div>
  <div class="footer-bottom">
      <div class="introduction col-5">
          <h5>Giới thiệu</h5>
          <p>Memory Bakery là một kênh bán hàng trực tuyến chuyên cung cấp các mặt hàng bánh ngọt bao gồm các loại bánh và phụ kiện dành cho các buổi tiệc. Memory Bakery hướng tới cung cấp một kênh bán hàng sinh động, đơn giản nhưng đầy đủ các tính năng cần thiết để mang tới những trải nghiệm tốt nhất cho khách hàng</p>
          <a href=""><img src="../assets/img/logo.jpg" alt=""></a><br>
          <a href="https://www.facebook.com/xn2002"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.youtube.com/@F8VNOfficial"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="contact col-3" >
          <h5>Thông tin liên hệ</h5>
          <span style="display:flex"><i style="margin-top: 5px;padding-right: 10px;" class="fa-solid fa-location-dot"></i> Ký túc xá khu B, Linh Trung, Thủ Đức, Hồ Chí Minh</span>
          <span><i class="fa-solid fa-phone"></i> 0905792559</span> <br>
          <span><i class="fa-solid fa-fax"></i> 1900.900.900</span><br>
          <span><i class="fa-sharp fa-solid fa-envelope"></i> memory@gmail.com</span>
          <h5>Phương thức thanh toán</h5>
          <div class="payment-top">
              <img class="payment-method" src="../assets/img/PHƯƠNG THỨC THANH TOÁN/DOB.png" alt="">
              <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/Momo.png" alt="" class="payment-method">
              <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/Mastercard.png" alt="" class="payment-method">
          </div>
          <div class="payment-bottom">
              <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/JCB.png" alt="" class="payment-method">
              <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/VISA.png" alt="" class="payment-method">
          </div>
      </div>
      <div class="support col-2" >
          <h5>Hỗ trợ</h5>
          <a href="">Tìm kiếm</a><br>
          <a href="./aboutUs">Giới thiệu</a><br>
          <a href="./paymentPolicy">Chính sách thanh toán</a><br>
          <a href="./privacyPolicy">Chính sách bảo mật</a><br>
          <a href="./contact">Liên hệ</a>
      </div>
      <div class="link col-2">
          <h5>Liên kết</h5>
          <a href="./productBanhkem.html">Bánh kem</a><br>
          <a href="./productCupcakes.html">Cupcakes</a><br>
          <a href="./productBanhquy.html">Bánh quy</a><br>
          <a href="./productDonuts.html">Donuts</a><br>
          <a href="./productBanhmi.html">Bánh mì</a>
      </div>
  </div>
</div>
