<div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center bg-transparent py-3">Promotion Detail</h1>
        <p>{{errMessage}}</p>
        <table class="table table-striped">
          <tbody>
            <tr>
              <td>ID</td>
              <td>{{promotion._id}}</td>
            </tr>
            <tr>
              <td>Mã khuyến mãi</td>
              <td>{{promotion.Code}}</td>
            </tr>
            <tr>
                <td>Mô tả</td>
                <td>{{promotion.Name}}</td>
              </tr>
            <tr>
              <td>Mức giảm</td>
              <td>{{promotion.Discount}}</td>
            </tr>
            <tr>
              <td>Số lượng</td>
              <td>{{promotion.Quantity}}</td>
            </tr>
            <tr>
              <td>Điều kiện</td>
              <td>{{promotion.Condition}}</td>
            </tr>
            <tr>
                <td>Ngày khởi tạo</td>
                <td>{{promotion.CreatedDate}}</td>
              </tr>
            <tr>
              <td>Ngày bắt đầu</td>
              <td>{{promotion.StartDate}}</td>
            </tr>
            <tr>
              <td>Ngày kết thúc</td>
              <td>{{promotion.ExpireDate}}</td>
            </tr>
          </tbody>
        </table>
  
        <div class="d-flex justify-content-between align-items-center my-3">
          <a href="./promotion" class="btn btn-primary">Quay lại</a>
          <button class="btn btn-success" (click)="actionAdd()">Chỉnh sửa thông tin khuyến mãi</button>
        </div>
        
        <div class="fog" *ngIf="isShow">
          <div class="form">
            <h1 class="text-center mt-5 mb-4">CHỈNH SỬA THÔNG TIN KHUYẾN MÃI</h1>
            <form>
              <div class="mb-3">
                <label for="PromotionId" class="form-label">ID</label>
                <input type="text" class="form-control" #name="ngModel" name="PromotionId" id="PromotionId" [(ngModel)]="promotion._id"/>
              </div>
              <div class="mb-3">
                <label for="PromotionId" class="form-label">Mã khuyến mãi</label>
                <input type="text" class="form-control" #name="ngModel" name="Code" id="Code" [(ngModel)]="promotion.Code"/>
              </div>
              <div class="mb-3">
                <label for="PromotionName" class="form-label">Mô tả</label>
                <div>
                  <angular-editor name="PromotionName" id="PromotionName" [config]="config" [(ngModel)]="promotion.Name" ></angular-editor>
                </div>
              </div>
              <div class="mb-3">
                <label for="Discount" class="form-label">Mức giá</label>
                <div class="input-group">
                  <input type="text" class="form-control" id="Discount" name="Discount" [(ngModel)]="promotion.Discount">
                  <span class="input-group-text">
                    <select class="form-select" id="DiscountType" name="DiscountType">
                      <option value="%">%</option>
                      <option value="VND">VND</option>
                    </select>
                  </span>
                </div>
              </div>
              <div class="mb-3">
                <label for="Condition" class="form-label">Điều kiện</label>
                <div>
                    <angular-editor name="Condition" id="Condition" [config]="config" [(ngModel)]="promotion.Condition" ></angular-editor>
                </div>
              </div>
              <div class="mb-3">
                <label for="Quantity" class="form-label">Số lượng</label>
                <input type="text" class="form-control" id="Quantity" name="Quantity" [(ngModel)]="promotion.Quantity">
              </div>
              <div class="mb-3">
                <label for="StartDate" class="form-label">Thời gian bắt đầu</label>
                <input type="text" class="form-control" id="StartDate" name="StartDate" [(ngModel)]="promotion.StartDate">
              </div>
              <div class="mb-3">
                <label for="CreatedDate" class="form-label">Thời gian khởi tạo</label>
                <input type="text" class="form-control" id="CreatedDate" name="CreatedDate" [(ngModel)]="promotion.CreatedDate">
              </div>
              <div class="mb-3">
                <label for="ExpireDate" class="form-label">Thời gian kết thúc</label>
                <input type="text" class="form-control" id="ExpireDate" name="ExpireDate" [(ngModel)]="promotion.ExpireDate">
              </div>
              <div class="d-flex justify-content-end" >
                <button (click)="putPromotion()">Lưu chỉnh sửa</button>
                <button (click)="actionCancel()" class="btn btn-secondary">Hủy bỏ</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>