
<body>


  <div class="container body">
      <div class="row">
        <div class="col-5">
          <div class="body-left">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.0731212783217!2d106.78039021744384!3d10.882043100000008!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3174d89aad780e49%3A0x54542761d4c22175!2zS8O9IHTDumMgeMOhIEtodSBCIMSQ4bqhaSBo4buNYyBRdeG7kWMgZ2lhIFRQLkhDTQ!5e0!3m2!1svi!2s!4v1669530877466!5m2!1svi!2s" width="618" height="297" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <h2>Liên hệ với chúng tôi</h2>
              <span style="display:flex"><i style="margin-top: 5px;padding-right: 10px;" class="fa-solid fa-location-dot"></i> Ký túc xá khu B, Linh Trung, Thủ Đức, Hồ Chí Minh</span>
              <span><i class="fa-solid fa-phone"></i> 0905792559</span> <br>
              <span><i class="fa-solid fa-fax"></i> 1900.900.900</span><br>
              <span><i class="fa-sharp fa-solid fa-envelope"></i> memory@gmail.com</span> <br>
              <span><i class="fa-sharp fa-solid fa-building"></i></span>
              <span> Cửa hàng bánh Memory <br>
                  <span style="margin-left: 20px;">Mã số doanh nghiệp: 0103833363 <br></span>
                  <span style="margin-left: 20px;"></span>Cấp ngày: 14/05/2021</span>
          </div>
        </div>
        <div class="col-7">
          <div class="body-right" style="margin-left: 120px;">
              <h2>Chat với chúng tôi</h2>
              <div class="mb-3">
                  <label for="formGroupExampleInput" class="form-label">Họ và tên</label>
                  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nhập họ và tên của bạn">
                </div>
                <div class="mb-3">
                  <label for="formGroupExampleInput2" class="form-label">Địa chỉ E-mail</label>
                  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Nhập địa chỉ E-mail của bạn">
                </div>
                <div class="mb-3">
                  <label for="formGroupExampleInput2" class="form-label">Tin nhắn</label>
                  <textarea class="form-control" aria-label="With textarea" placeholder="Gửi lời nhắn của bạn tại đây"></textarea>
                </div>
                <button type="button" class="btn btn-primary submit">
                  Gửi
              </button>

          </div>
        </div>
      </div>
    </div>

</body>
