@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
@import url('https://fonts.googleapis.com/css?family=Inter:400,800');
:root{
  --primary_color: #e75c6b;
  --button_color:#F38a95;
  --background_color:#f9f2f2;
  --hover_color:#81C6E8;
}

body{
   height: 100vh;
   background: #FFEAE9 !important;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .card{
   overflow: hidden;
   border: 0 !important;
   border-radius: 20px !important;
   box-shadow: 0 14px 28px rgba(0,0,0,0.15),
			            0 10px 10px rgba(0,0,0,0.20);
 }

 .img-left{
   width: 45%;
   background: url('/assets/img/register.jpg') center;
   background-size: cover;
 }
 .row-cols-1{
  align-content: center;
  float: right;
  margin-top: -10px;
  margin-right: -10px;
  padding: 3px 3px;

}
  .title{
    font-family: 'Montserrat', serif;
    margin-bottom: 1rem;
    font-weight: bold;
 }

 .form-input{
   position: relative;
 }

 .form-input input{
  font-family: 'Inter', sans-serif;
   width: 100%;
   height: 45px;
   padding-left: 40px;
   margin-bottom: 15px;
   box-sizing: border-box;
   border: 2px solid #EDEDED;
   border-radius: 10px;
   outline: none;
   background: transparent;
 }

 .form-input span{
   position: absolute;
   top: 10px;
   padding-left: 15px;
   color: #000;
 }

 .form-input input::placeholder{
   color: #6c757d;
   padding-left: 0px;
 }

 .form-input input:focus, .form-input input:valid{
   border: 2px solid #E75C6B;
 }

 .form-input input:focus::placeholder{
   color: #454b69;
 }

 .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before{
   background-color: #E75C6B !important;
   border: 0px;
 }

 .form-box button[type="submit"]{
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   margin-top: 1rem;
   border: none;
   cursor: pointer;
   border-radius: 10px;
   background: #E75C6B;
   color: #fff;
   padding: 5px;
 }

 .form-box button[type="submit"]:hover{
   background: #81C6E8;
   color: #000;
 }

 .forget-link, .login-link{
   font-family: 'Montserrat', serif;
   color: #E75C6B;
   font-weight: bold;
 }

 .forget-link:hover, .login-link:hover{
   color: #81C6E8;
   text-decoration: none;
 }

 .form-box .btn-social{
   color: white !important;
   border: 0;
   font-weight: bold;
 }

 .form-box .btn-facebook{
   background: #4866a8;
 }

 .form-box .btn-google{
   background: #da3f34;
 }


 .form-box .btn-facebook:hover{
   background: #81C6E8;
 }

 .form-box .btn-google:hover{
   background: #bf3b31;
 }


 .register{
  background-color: var(--button_color);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: block;
  text-align: center;
  font-weight: bold;
 }
 .register:hover{
  color: #000;
  text-decoration: none;
  background-color: var(--hover_color);
 }
 a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: var(--hover_color)
}
