@import url('https://fonts.googleapis.com/css?family=Inter:400,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
:root{
    --primary_color: #e75c6b;
    --button_color:#F38a95;
    --background_color:#f9f2f2;
    --hover_color:#81C6E8;
}
.banner img{
    width: 100%;
    height: 600px;
}
.shortscut{
    display: flex;
    /* width: 100%; */
    /* margin: 0 auto; */
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}

.background-voucher{
    background-color: #f0b8be;
    border: 2px solid rgb(249, 247, 247);
    margin: 20px;
    /* width: 451px; */
}
.voucher{
    display: inline-flex;
    border: 2px solid rgb(248, 247, 247);
    margin: 30px;
    background-color: white;
    width: 400px;
}
.voucher .logo{
    margin: auto;
    border-right: 2px dashed rgb(126, 121, 121);
    padding: 43px 10px;
}
.voucher .logo p{
    font-size: 18px;
}
.discount{
    margin-left: 10px;
    padding: 10px;
}
.discount input{
    background-color:#E75C6B   ;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
}
hr{
    margin: 10px 0;
}
.btn-input{
    text-align: right;
}
.voucher .logo img{
    width: 140px;
}

.btn-input input:hover{
    background-color: var(--hover_color);
}

.shortscut{
    display: flex;
    font-size: 25px;
    margin: 50px auto;
    width: 1000px;
}
.shortscut img{
    width: 200px;
}
.shortscut a{
    display: flex;
    flex-direction: column;
    background-color: #f9f2f2;
    align-items: center;
    border-radius: 20px;
    margin: 0 20px;
}
.shortscut span{
    font-weight: bold;
    color: black;
}

.shortscut a:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}

.product{
    margin: 15px 0;
}





.vouchers{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #f9f2f2;
}
.list-voucher{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #f9f2f2;
    margin-top: 50px;
    padding: 20px 0;
}


#continute-product #continute.close{
    display: none;
}

#continute-product{
    display: none;
}
#continute-product.activate{
    display: block;
}

.input {
    background-color: var(--primary_color);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    vertical-align: middle;
    margin: 15px;
    font-size: 22px;

}

.input:hover {
    background-color: var(--hover_color);
    color: black;
}








@import url('https://fonts.googleapis.com/css?family=Inter:400,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
:root{
    --primary_color: #e75c6b;
    --button_color:#F38a95;
    --background_color:#f9f2f2;
    --hover_color:#81C6E8;
}
.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}
#header{
    background-color: white;
    /* position: fixed; */
    padding: 0px 5%;
    top: 0;
    left: 0;
    right:0;
    z-index: 99;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 126px;
    font-family: 'Montserrat', sans-serif;

    position: sticky;
    transition: top .2s ease;
}
#header.show{
    top: -1000px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: var(--hover_color)
}
#header a{
    text-decoration: none;
    color: var(--primary_color);
}
#header a:hover{
    color: var(--hover_color);
}
/* header-top */
.header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
.header-top img{
    height: 80px;
    width: 80px;
}
.header-top .btn-search .search{
    width: 500px;
    height: 50px;
    border: 0 white;
    border-radius: 20px ;
    background-color: #FFEAE9;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.header-top .btn-search{
    position: relative;
}
.header-top .btn-search .ti-search {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    background-color: #FFEAE9;
    border-radius: 50%;
    margin: 2px;
    border:  none;
}
.header-top .btn-search .ti-search:hover{
    color: var(--hover_color);
}
.btn-search input {

    padding: 0 60px 0 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
}

.header-top{
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */

}
.header-top .logo img{
    width: 200px;
}
.right-header-top{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */

}
.right-header-top div{
    margin: 0 20px;
    width: max-content;

}


.right-header-top li a{
    padding: 0 24px;
    line-height: 46px;
    display: block;
}


.right-header-top .account{
    position: relative;
}
.right-header-top .account .sub-nav{
    display: none;
    min-width: 240px;
    position: absolute;
    top:100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin: 0 auto;
    border-radius: 5px;
    z-index: 1;
    padding-left: 0;
}
.right-header-top .account:hover .sub-nav{
    display: block;
}
.right-header-top .account .sub-nav a:hover{
    background-color: bisque;
    color: var(--hover_color);
}





/* .header-bottom {
    display: flex;
    flex-wrap: nowrap;
    height: 46px;
} */
.header-bottom{
    overflow:hidden;
    height: 46px;
    display: flex;
    justify-content: space-around;

}
ul{
    list-style: none;
}
.nav > li{
    display: inline-block;
}

.nav >li > a{
    font-weight: bold;
    margin: 0 26px;
    position: relative;
}
.nav li a{
    padding: 0 5px;
    line-height: 46px;
    display: block;
}


.header-bottom .nav >li >a::after{
    content: "";
    height: 3px;
    background-color: var(--hover_color);
    position: absolute;
    bottom: 5px;
    left: 0;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}
.header-bottom .nav li a:hover::after{
    width: 100%;
    transform: scaleX(1);
}
.now>a{
    color: var(--hover_color)!important;
}

.header-bottom .sub-nav{
    display: none;
    min-width: 250px;
    position: absolute;
    top:100%;
    margin-left: 37px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding-left: 0;
    border-radius: 5px;
    z-index: 3;
}

.nav{
    display: inline-block;
}
.nav li:hover .sub-nav{
    display: block;
}
.nav .sub-nav li:hover a{
    background-color: bisque;
    color: var(--hover_color);
}
.nav>li:hover>a{
    color: var(--hover_color);
}

/* Slider */


.slider img{
    height: 600px;
}
.carousel-indicators [data-bs-target]{
    background-color: var(--hover_color);
}

/* Category */
.category{
    display: flex;
    font-size: 25px;
    margin: 50px auto;
    width: 1000px;
}
.category img{
    width: 150px;
}
.category a{
    display: flex;
    flex-direction: column;
    background-color: #f9f2f2;
    align-items: center;
    border-radius: 20px;
    margin: 0 20px;
}
.category span{
    font-weight: bold;
    color: var(--primary_color);
}

.category a:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}


/* New Product */
.main-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
.new-product{
    display: flex;
    background-color: #ffeae9;
    padding: 30px 100px;
    align-items: center;
    font-size: 25px;
}
.new-product img{
    width: 300px;
    border-radius: 20px;
}
.new-product__right{
    margin-left: 50px;
}
.comments-right {
    font-family: 'Inter', sans-serif;
}
.content {
    font-family: 'Inter', sans-serif;
}
.new-product .name{
    color:var(--primary_color);
    font-weight: 550;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
}

.old-price{
    color: #887e7d;
    text-decoration: line-through;
}
.new-price{
    color: red;
}
.new-product .content{
    font-style: italic;
    font-weight: 500;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    width: 3rem;
    height: 3rem;
}

.carousel-control-next-icon{
    margin-left: 120px;
    color: var(--hover_color)!important;
    /* background-color: #81C6E8; */
}
.carousel-control-prev-icon{
    margin-right:120px ;
}



/* Hot product */
/* .hot-product{
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
} */
section{
    height: 450px;
    width: 1075px;
    display: flex;
    align-items: center;
    margin: auto;
}
.product{
    background-color: #f0d9d8;
    text-align: center;
    border-radius: 10px;
    /* margin: 30px; */
    display: inline-block;
    padding: 10px;
    border-radius: 25px;
}
.product > *{
    padding: 5px;
}
.product p{
    margin-bottom: 0;
}
.product img{
    width: 270px;
    padding: 20px;
    border-radius: 40px;
}
.product .img-product{
    position: relative;
}
.product .name{
    font-weight: bold;
}
.product .cart-love{
    background-color: #f38a95;
    width: 40%;
    position: absolute;
    left: 30%;
    bottom:0;
    border-radius: 10px;
    font-size: 25px;
}
.product .star{
    color: yellow;
}

/* .swiper-button-prev, .swiper-button-next{
    color: var(--hover_color)!important;
} */


.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide{
    width: 100px;
}





/* Prommote Product */
.promotion-product{
    background-color: #f9f2f2;
    padding: 20px 0;
    margin-top: 50px;
}
.list-product{
    display: flex;
    justify-content: space-evenly;
}
#continute{
    /* background-color: var(--button_color); */
    width: max-content;
    margin: auto;
    /* border: 2px solid white; */
    /* border-radius: 20px; */
    padding: 0 20px;
    margin-top: 30px;

}

#continute:hover a{
    color: black;
}


/* comments */
.comments{
    display: flex;
    border: 2px solid var(--primary_color);
    border-radius: 30px;
    margin: 50px 350px;
    padding: 20px 50px;
    background-color: #ffeae9;
    align-items: center;

}
.comments img{
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.comments-left .star{
    color: yellow;
    text-align: center;
}
.comments .star i{
    padding: 5px 3px;
}
.comments-left div{
    text-align: center;
    font-weight: bold;
}

.comments .comments-right{
    font-style: italic;
    margin-left:20px ;
    font-size: 20px;

}

.prev-comment, .next-comment{
    background-color: rgb(226, 226, 247);
}



/* footer */

/* footer-top */
.footer-top{
    display: flex;
    background-color: #FFEAE9;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}
.introduction p {
    text-align: justify;
    font-family: 'Inter', sans-serif;
}
.footer-top__left{
    display: flex;
}
.footer-top__left .ti-email{
    font-size: 70px;
    padding: 0 20px;
    color: var(--primary_color);
}
.footer-top__left .content p{
    margin-bottom: 0;
}
.footer-top__left .content .title{
    font-weight: bold;
    font-size: 25px;
}


.footer-top__right input{
    width: 500px;
    height: 50px;
    padding: 0 60px 0 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

}
.footer-top__right button{
    width: 70px;
    height: 50px;
    background-color: var(--primary_color);
    border-radius: 10px;
    border:  none;
    color: white;
    margin-left: 20px;
}



/* footer-bottom */
.footer-bottom{
    display: flex;
    padding: 0 10px;
}
.footer-bottom div{
    padding: 0 20px;
}
.footer-bottom h5{
    font-weight: bold;
    color: var(--primary_color);
    padding: 10px 0;
}
.footer-bottom .introduction i{
    font-size: 45px;
    padding: 10px 30px 0 0;
    color: var(--primary_color);
}
.footer-bottom .introduction i:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
}
.footer-bottom .contact i{
    color: var(--primary_color);
}

.payment-top, .payment-bottom {
    display: flex;
    justify-content: space-around;

}
.payment-bottom{
    margin-top: 20px;
}
.payment-method{
    width: 50px;
    height: 45px;
}
.payment-method:hover{
    transform: scale(1.3);
}

.comments-right {
    font-family: 'Inter', sans-serif;
    text-align: justify;
}
.content {
    font-family: 'Inter', sans-serif;
}
.new-product .name{
    color:var(--primary_color);
    font-weight: 550;
    font-size: 40px;
    font-family: 'Inter', sans-serif;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.input {
    background-color: var(--primary_color);
    color: white;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    vertical-align: middle;
    margin: 15px;
    font-size: 22px;

}

.input:hover {
    background-color: var(--hover_color);
    color: black;
}

.contact {
    font-family: 'Inter', sans-serif;
}
h5 {
    font-family: 'Montserrat', sans-serif;
}

.support a {
    font-family: 'Inter', sans-serif;
}

.link a {
    font-family: 'Inter', sans-serif;
}


#backtop{
    width: 50px;
    height: 50px;
    background-color: var(--primary_color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#chatbox{
    width: 60px;
    height: 60px;
    background-color: var(--hover_color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 150px;
    right: 20px;
}
#phone{
    width: 60px;
    height: 60px;
    background-color: var(--hover_color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    right: 20px;
}

.header-chatWrapper{
    display: flex;
    justify-content: space-between;
}
.header-chatWrapper img{
    width: 60px;
    border-radius: 50%;
}
#chatWrapper .close{
    cursor: pointer;
}
#chatWrapper{
    width: 410px;
    height: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 25px;
    background-color: white;
    position: fixed;
    bottom: 10px;
    right: 85px;
    z-index: 99;
    display: none;



}

#chatWrapper.showchat{
    display: block;
}

#chatWrapper h4{
    margin-top: 20px;
}
#chatWrapper p{
    margin-top: 30px;
}
#chatWrapper #close{
    cursor: pointer;
}
#chatWrapper .button1{
    border: none;
    border-radius: 20px;
    background-color: var(--button_color);
    width: 300px;
    color: white;
    margin-top: 100px;
    padding: 10px;
    margin-left: 40px;
}
#chatWrapper .button2{
    border: none;
    border-radius: 20px;
    width: 300px;
    margin-top: 10px;
    padding: 10px;
    margin-left: 40px;
}



