<div class="body">
  <div class="banner">
      <img src="../assets/img/BANNER/Cream Brown Modern Minimalist Homemade Cakes Banner (4).png" alt="">
  </div>
  <div class="shortscut">
      <a href="#1"><img src="../assets/img/PROMOTION/1.png" alt=""><span>Miễn phí ship</span></a>
      <a href="#2"><img src="../assets/img/PROMOTION/2.png" alt=""><span>Mã giảm giá</span></a>
      <a href="#3"><img src="../assets/img/Category/Donut.png" alt=""><span>Khuyến mãi</span></a>
  </div>
  <div class="promotion-product">
      <p class="main-title" id="3">Sản phẩm khuyến mãi</p>
      <div class="list-product">
      <div class="product">
          <div class="img-product">
              <a href="./productDetail.html"> <img src="../assets/img/ẢNH SẢN PHẨM KHUYẾN MÃI/2.png" alt=""></a>
           <div class="cart-love">
                  <a href=""> <i class="fa-solid fa-cart-shopping"></i></a> <a href=""> <i class="fa-solid fa-heart"></i></a>
             </div>
          </div>
          <p class="name">Pumpkin Cupcake</p>
          <p class="price">
              <span class="old-price">70.000 VNĐ</span>
              <span class="new-price">65.000 VNĐ</span>
          </p>
          <div><span class="star"> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> </span><span>530</span></div>
      </div>
      <div class="product">
          <div class="img-product">
              <a href="./productDetail.html"> <img src="../assets/img/ẢNH SẢN PHẨM KHUYẾN MÃI/94.png" alt=""></a>
               <div class="cart-love">
                  <a href=""> <i class="fa-solid fa-cart-shopping"></i></a> <a href=""> <i class="fa-solid fa-heart"></i></a>
            </div>
          </div>
          <p class="name">Bánh Kem Tasty Love</p>
          <p class="price">
              <span class="old-price">240.000 VNĐ</span>
              <span class="new-price">210.000 VNĐ</span>
          </p>
          <div><span class="star"> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> </span><span>530</span></div>
      </div>
      <div class="product">
          <div class="img-product">
              <a href="./productDetail.html"> <img src="../assets/img/ẢNH SẢN PHẨM KHUYẾN MÃI/98.png" alt=""></a>
               <div class="cart-love">
                  <a href=""> <i class="fa-solid fa-cart-shopping"></i></a> <a href=""> <i class="fa-solid fa-heart"></i></a>
         </div>
          </div>
          <p class="name">Bánh Kem Seasonal Fruit</p>
          <p class="price">
              <span class="old-price">240.000 VNĐ</span>
              <span class="new-price">210.000 VNĐ</span>
          </p>
          <div><span class="star"> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> </span><span>530</span></div>
      </div>
      <div class="product final">
          <div class="img-product">
              <a href="./productDetail.html"> <img src="../assets/img/ẢNH SẢN PHẨM KHUYẾN MÃI/9.png" alt=""></a>
              <div class="cart-love">
                  <a href="./productDetail.html"> <i class="fa-solid fa-cart-shopping"></i></a> <a href=""> <i class="fa-solid fa-heart"></i></a>
              </div>
          </div>
          <p class="name">Vanilla Blue Cupcake</p>
          <p class="price">
              <span class="old-price">140.000 VNĐ</span>
              <span class="new-price">130.000 VNĐ</span>
          </p>
          <div><span class="star"> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> </span><span>530</span></div>
      </div>

  </div>


  <div id="continute-product">
      <div class="list-product">
          <div class="product">
              <div class="img-product">
                  <a href="./productDetail.html"> <img src="../assets/img/ẢNH SẢN PHẨM/85.png" alt=""></a>
               <div class="cart-love">
                      <a href=""> <i class="fa-solid fa-cart-shopping"></i></a> <a href=""> <i class="fa-solid fa-heart"></i></a>
                 </div>
              </div>
              <p class="name">Bánh Kem Blue Ocean</p>
              <p class="price">
                  <span class="old-price">200.000 VNĐ</span>
                  <span class="new-price">185.000 VNĐ</span>
              </p>
              <div><span class="star"> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> </span><span>530</span></div>
          </div>
          <div class="product">
              <div class="img-product">
                  <a href="./productDetail.html"> <img src="../assets/img/ẢNH SẢN PHẨM/17.png" alt=""></a>
                   <div class="cart-love">
                      <a href=""> <i class="fa-solid fa-cart-shopping"></i></a> <a href=""> <i class="fa-solid fa-heart"></i></a>
                </div>
              </div>
              <p class="name">Mini Bouquet Box</p>
              <p class="price">
                  <span class="old-price">168.000 VNĐ</span>
                  <span class="new-price">150.000 VNĐ</span>
              </p>
              <div><span class="star"> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> </span><span>530</span></div>
          </div>
          <div class="product">
              <div class="img-product">
                  <a href="./productDetail.html"> <img src="../assets/img/ẢNH SẢN PHẨM/29.png" alt=""></a>
                   <div class="cart-love">
                      <a href=""> <i class="fa-solid fa-cart-shopping"></i></a> <a href=""> <i class="fa-solid fa-heart"></i></a>
             </div>
              </div>
              <p class="name">Wholesome Bluberry Donuts</p>
              <p class="price">
                  <span class="old-price">65.000 VNĐ</span>
                  <span class="new-price">50.000 VNĐ</span>
              </p>
              <div><span class="star"> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> </span><span>530</span></div>
          </div>
          <div class="product final">
              <div class="img-product">
                  <a href="./productDetail.html"> <img src="../assets/img/ẢNH SẢN PHẨM/37.png" alt=""></a>
                  <div class="cart-love">
                      <a href="./productDetail.html"> <i class="fa-solid fa-cart-shopping"></i></a> <a href=""> <i class="fa-solid fa-heart"></i></a>
                  </div>
              </div>
              <p class="name">Almond Butter</p>
              <p class="price">
                  <span class="old-price">50.000 VNĐ</span>
                  <span class="new-price">40.000 VNĐ</span>
              </p>
              <div><span class="star"> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> </span><span>530</span></div>
          </div>

      </div>
  </div>







      <div id="continute">
          <a href="##" onclick="showProduct()">
              <button type="button" class="btn btn-primary input">
                  Xem thêm sản phẩm
              </button>
          </a>
      </div>
  </div>
  <p class="main-title" id="1" style="margin-top: 40px;margin-bottom: 40px;">Miễn phí vận chuyển</p>
  <div class="vouchers">
      <div class="background-voucher">
          <div class="voucher">
              <div class="logo">
                  <img src="../assets/img/logo.jpg" alt="">
              </div>
              <div class="discount">
                  <h5>#FREESHIP10</h5>
                  <span>Miễn phí vận chuyển</span><br>
                  <span style="font-size:15px">Cho đơn hàng trên 100k</span>
                  <hr>
                  <span>HSD: 27.12.2022</span><br>
                  <div class="btn-input">
                      <input type="button" value="Lưu">

                      <input type="button" value="Sao chép">
                  </div>
              </div>
          </div>
      </div>
      <div class="background-voucher">
          <div class="voucher">
              <div class="logo">
                  <img src="../assets/img/logo.jpg" alt="">
              </div>
              <div class="discount">
                  <h5>#FREESHIP10</h5>
                  <span>Miễn phí vận chuyển</span><br>
                  <span style="font-size:15px">Cho đơn hàng trên 100k</span>
                  <hr>
                  <span>HSD: 27.12.2022</span><br>
                  <div class="btn-input">
                      <input type="button" value="Lưu">

                      <input type="button" value="Sao chép">
                  </div>
              </div>
          </div>
      </div>
      <div class="background-voucher">
          <div class="voucher">
              <div class="logo">
                  <img src="../assets/img/logo.jpg" alt="">
              </div>
              <div class="discount">
                  <h5>#FREESHIP10</h5>
                  <span>Miễn phí vận chuyển</span><br>
                  <span style="font-size:15px">Cho đơn hàng trên 100k</span>
                  <hr>
                  <span>HSD: 27.12.2022</span><br>
                  <div class="btn-input">
                      <input type="button" value="Lưu">

                      <input type="button" value="Sao chép">
                  </div>
              </div>
          </div>
      </div>
  </div>
  <p class="main-title" id="2" style="margin-top: 40px">Mã giảm giá</p>
  <div class="list-voucher">
  <div class="vouchers">
      <div class="background-voucher">
          <div class="voucher">
              <div class="logo">
                  <img src="../assets/img/logo.jpg" alt="">
              </div>
              <div class="discount">
                  <h5>#TRIAN10</h5>
                  <span>Giảm tối đa 10%</span><br>
                  <span style="font-size:15px">Cho đơn hàng trên 200k</span>
                  <hr>
                  <span>HSD: 27.12.2022</span><br>
                  <div class="btn-input">
                      <input type="button" value="Lưu">
                      <input type="button" value="Sao chép">
                  </div>
              </div>
          </div>
      </div>
      <div class="background-voucher">
          <div class="voucher">
              <div class="logo">
                  <img src="../assets/img/logo.jpg" alt="">
              </div>
              <div class="discount">
                  <h5>#SANDEALRE</h5>
                  <span>Giảm 30k</span><br>
                  <span style="font-size:15px">Cho đơn hàng trên 500k</span>
                  <hr>
                  <span>HSD: 27.12.2022</span><br>
                  <div class="btn-input">
                      <input type="button" value="Lưu">

                      <input type="button" value="Sao chép">
                  </div>
              </div>
          </div>
      </div>
      <div class="background-voucher">
          <div class="voucher">
              <div class="logo">
                  <img src="../assets/img/logo.jpg" alt="">
              </div>
              <div class="discount">
                  <h5>#SANDEALRE</h5>
                  <span>Giảm 25k</span><br>
                  <span style="font-size:15px">Cho đơn hàng trên 400k</span>
                  <hr>
                  <span>HSD: 27.12.2022</span><br>
                  <div class="btn-input">
                      <input type="button" value="Lưu">

                      <input type="button" value="Sao chép">
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>
