<div class="items">
  <div class="item">
  <div>
    <p>Tổng Order</p>
    <h3 style="font-weight: bold;">$20.4K</h3>
    <p>Bán được 123 đơn</p>
  </div>
  <div style="margin-left: 20px;">
    <div class="donut-chart-block block">
      <div class="donut-chart">
        <div id="part1" class="portion-block"><div class="circle"></div></div>
        <div id="part2" class="portion-block"><div class="circle"></div></div>
        <div id="part3" class="portion-block"><div class="circle"></div></div>
        <p class="center"></p>
      </div>
     </div>
  </div>
  </div>
  <div class="item">
  <div>
    <p>Doanh thu</p>
    <h3 style="font-weight: bold;">$8.2K</h3>
    <p>Thu được</p>
  </div>
  <div style="margin-left: 20px;">
    <div class="donut-chart-block block">
      <div class="donut-chart">
        <div id="part4" class="portion-block"><div class="circle"></div></div>
        <div id="part5" class="portion-block"><div class="circle"></div></div>
        <div id="part3" class="portion-block"><div class="circle"></div></div>
        <p class="center"></p>
      </div>
     </div>
  </div>
  </div>

  <div class="item">
    <div>
    <p>Chi phí</p>
    <h3 style="font-weight: bold;">$18.2K</h3>
    <p>Đã chỉ ra</p>
  </div>

  <div style="margin-left: 20px;">
    <div class="donut-chart-block block">
      <div class="donut-chart">
        <div id="part6" class="portion-block"><div class="circle"></div></div>
        <div id="part7" class="portion-block"><div class="circle"></div></div>
        <div id="part3" class="portion-block"><div class="circle"></div></div>
        <p class="center"></p>
      </div>
     </div>
  </div>
  </div>
  </div>
  <div style="display: flex; margin-top: 50px;">
  <div class="chart">
  <p style="font-weight: bold;">Tổng doanh thu tháng từ đầu năm</p>
  <h3 style="font-weight: bold;">$60.5K <i class="fa-solid fa-arrow-up"></i> <span style="color: green;">Tăng 10% so với tháng trước</span></h3>
  <div class="bar-chart">
    <canvas id="canvas">{{chart}}</canvas>
  </div>
  </div>

  <div class="category" style="margin-left: 80px;">
    <p style="font-weight: bold;">Order theo doanh mục</p>


  <div  >
    <h6 >Bánh kem</h6>
    <div class="progress-container">
        <div class="progress-fill item1"></div>
        <span class="progress-text">75%</span>
    </div>
  </div>

  <div  >
    <h6>Bánh Donuts</h6>
    <div class="progress-container">
        <div class="progress-fill item2 "></div>
        <span class="progress-text">60%</span>

    </div>
  </div>

  <div  >
    <h6>Cupcakes</h6>
    <div class="progress-container">
        <div class="progress-fill item3"></div>
        <span class="progress-text">55%</span>

    </div>
  </div>

  <div  >
    <h6>Bánh mì</h6>
    <div class="progress-container">
        <div class="progress-fill item4"></div>
        <span class="progress-text">80%</span>

    </div>
  </div>
  <div  >
    <h6>Bánh Quy</h6>
    <div class="progress-container">
        <div class="progress-fill item5"></div>
        <span class="progress-text">70%</span>

    </div>
  </div>
  </div>
  </div>


