<body>
  <div class="container">
      <!-- Header -->
      <div id="header">
          <div class="header-top">
             <div class="logo">
                  <a href="./main.html"><img src="../assets/img/logo.jpg" alt=""></a>
             </div>
             <div class="btn-search" >
              <form class="inputSearch" onsubmit="submitForm(event)">
                  <input
                      type="text" class="search" id="inputvalue">

                  <button class="ti-search"></button>
              </form>
             </div>
              <div class="right-header-top">
                  <div class="account">
                      <a href="" >
                          <i class="fa-solid fa-user"></i>
                         <span>Tài khoản</span>
                      </a>
                      <ul class="sub-nav">
                          <li>
                              <a href="./myAccount.html">
                                  <i class="fa-solid fa-user"></i> Tài khoản của tôi
                              </a>
                          </li>
                          <li>
                              <a href="./register.html">
                                  <i class="fa-solid fa-user-plus"></i> Đăng kí
                              </a>
                          </li>
                          <li>
                              <a href="./login.html">
                                  <i class="fa-solid fa-right-to-bracket"></i> Đăng nhập
                              </a>
                          </li>

                      </ul>
                  </div>
                  <div class="cart">
                      <a href="./cart.html">
                          <i class="fa-solid fa-cart-shopping"></i>
                          <span>Giỏ hàng</span></a>
                  </div>
                  <div class="phone">
                      <a href="">
                          <i class="fa-solid fa-phone"></i>
                          <span> 0905792559</span>
                      </a>
                  </div>
              </div>
          </div>
          <div class="header-bottom">
              <ul class="nav">
                  <li class="now">
                          <a href="../html/listProduct.html">
                              <i class="fa-sharp fa-solid fa-list"></i>
                              Danh mục sản phẩm
                              <i class="nav-arrow-down ti-angle-down"></i>
                          </a>
                          <ul class="sub-nav">
                              <li><a href="./productBanhkem.html"> Bánh kem</a></li>
                              <li><a href="./productCupcakes.html"> Cupcakes</a></li>
                              <li><a href="./productBanhquy.html"> Bánh quy</a></li>
                              <li><a href="./productDonuts.html"> Donuts</a></li>
                              <li><a href="./productBanhmi.html"> Bánh mì</a></li>
                          </ul>
                  </li>
                  <li class="main"><a href="../html/main.html"><span> Trang chủ</span></a></li>
                  <li class="promotion"><a href="./promotion.html">Khuyến mãi</a></li>
                  <li class="story"><a href="./aboutUs.html">Câu chuyện thương hiệu</a></li>
                  <li class="blog"><a href="./blog.html">Tin tức</a></li>
                  <li class="contact"><a href="./contact.html">Liên hệ</a></li>
              </ul>
          </div>
      </div>
      <!-- Body -->
      <div class="body">
          <div class="list-product">
              <p class="title">Danh mục sản phẩm</p>
              <hr>
              <ul>
                 <span class="now"> <a href="./listProduct.html" ><li>Tất cả</li></a></span>
                  <a href="./productBanhkem.html" class="type_category"> <li>Bánh kem</li></a>
                  <a href="./productCupcakes.html" class="type_category"> <li>Cupcakes</li></a>
                  <a href="./productBanhquy.html" class="type_category"> <li>Bánh quy</li></a>

                  <a href="./productDonuts.html" class="type_category"> <li>Donuts</li></a>
                  <a href="./productBanhmi.html" class="type_category"> <li>Bánh mì</li></a>
              </ul>
              <p class="title">Khoảng giá</p>
              <hr>
              <p>Từ</p>
              <input id="price-from" type="text">
              <p> Đến</p>
              <input id="price-to" type="text">
              <button class="search-price">Tìm kiếm</button>
              <p class="title">Đánh giá</p>
              <hr>
              <a class="star-product" href="#"> <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div></a>
              <a class="star-product" href="#"> <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i> <span>trở lên</span></div> </a>
              <a class="star-product" href="#"> <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> <span>trở lên</span></div></a>
              <a class="star-product" href="#"> <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> <span>trở lên</span></div></a>
              <a class="star-product" href="#"> <div><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> <span>trở lên</span></div></a>
          </div>
          <div id="products">

          </div>

      </div>
      <div class="sotrang">
          <a href="#"><i class="fa-solid fa-chevron-left"></i></a>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#"> <i class="fa-solid fa-chevron-right"></i></a>
      </div>
      <div class="footer">
          <div class="footer-top">
              <div class="footer-top__left">
                  <i class="ti-email"></i>
                  <div class="content">
                      <p class="title" style="font-family: 'Montserrat', sans-serif;">ĐĂNG KÍ NHẬN BẢN TIN</p>
                      <p class="para">Bạn sẽ luôn nhận được thông tin khuyến mãi mới và đặc biệt nhất!</p>
                  </div>
              </div>
              <div class="footer-top__right">
                  <input type="text" placeholder="Nhập email của bạn tại đây!">
                  <button type="button" class="btn btn-primary input">
                      Gửi
                  </button>

              </div>
          </div>
          <div class="footer-bottom">
              <div class="introduction col-5">
                  <h5>Giới thiệu</h5>
                  <p>Memory Bakery là một kênh bán hàng trực tuyến chuyên cung cấp các mặt hàng bánh ngọt bao gồm các loại bánh và phụ kiện dành cho các buổi tiệc. Memory Bakery hướng tới cung cấp một kênh bán hàng sinh động, đơn giản nhưng đầy đủ các tính năng cần thiết để mang tới những trải nghiệm tốt nhất cho khách hàng</p>
                  <a href="./main.html"><img src="../assets/img/logo.jpg" alt=""></a><br>
                  <a href="https://www.facebook.com/xn2002"><i class="fa-brands fa-facebook"></i></a>
                  <a href="https://www.youtube.com/@F8VNOfficial"><i class="fa-brands fa-youtube"></i></a>
              </div>
              <div class="contact col-3" >
                  <h5>Thông tin liên hệ</h5>
                  <span style="display:flex"><i style="margin-top: 5px;padding-right: 10px;" class="fa-solid fa-location-dot"></i> Ký túc xá khu B, Linh Trung, Thủ Đức, Hồ Chí Minh</span>
                  <span><i class="fa-solid fa-phone"></i> 0905792559</span> <br>
                  <span><i class="fa-solid fa-fax"></i> 1900.900.900</span><br>
                  <span><i class="fa-sharp fa-solid fa-envelope"></i> memory@gmail.com</span>
                  <h5>Phương thức thanh toán</h5>
                  <div class="payment-top">
                      <img class="payment-method" src="../assets/img/PHƯƠNG THỨC THANH TOÁN/DOB.png" alt="">
                      <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/Momo.png" alt="" class="payment-method">
                      <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/Mastercard.png" alt="" class="payment-method">
                  </div>
                  <div class="payment-bottom">
                      <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/JCB.png" alt="" class="payment-method">
                      <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/VISA.png" alt="" class="payment-method">
                  </div>
              </div>
              <div class="support col-2" >
                  <h5>Hỗ trợ</h5>
                  <a href="">Tìm kiếm</a><br>
                  <a href="./aboutUs.html">Giới thiệu</a><br>
                  <a href="./paymentPolicy.html">Chính sách thanh toán</a><br>
                  <a href="./privacyPolicy.html">Chính sách bảo mật</a><br>
                  <a href="./contact.html">Liên hệ</a>
              </div>
              <div class="link col-2">
                  <h5>Liên kết</h5>
                  <a href="./productBanhkem.html">Bánh kem</a><br>
                  <a href="./productCupcakes.html">Cupcakes</a><br>
                  <a href="./productBanhquy.html">Bánh quy</a><br>
                  <a href="./productDonuts.html">Donuts</a><br>
                  <a href="./productBanhmi.html">Bánh mì</a>
              </div>
          </div>
      </div>
      </div>
</body>
