<div class="container">
    <div class="title">
      <h4 class="title">Danh sách đơn hàng</h4>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <div class="sort-function">
        <select [(ngModel)]="selectedStatus" (change)="changeListByStatus()" class="form-select">
          <option [disabled]="orderstatus == 'Sắp xếp theo'" [ngValue]="orderstatus"
            *ngFor="let orderstatus of orderstatuss"> {{ orderstatus}}</option>

        </select>
      </div>

      <div class="search-box">
        <div class="d-flex">
          <button (click)="reset()" class="btn btn-outline-success">Đặt lại danh sách</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="display-list mt-3">
        <table class="table text-center table-hover">
          <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Ngày đặt</th>
              <th>Ngày Giao</th>
              <th>Trạng thái</th>
              <th>Tổng tiền</th>
              <th>Tùy chỉnh</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let p of orders">
              <tr>
                <td>{{getLast5Characters(p._id)}}</td>
                <td>{{convertLocalDate(p.OrderDate)}}</td>
                <td>{{convertLocalDate(p.DeliveryTime)}}</td>
                <td>{{p.OrderStatus}}</td>
                <td>{{convertVND(+p.SubTotal)}}</td>
                <td>
                  <div class="table-action">
                    <fa-icon (click)="showOrderDetail(p)" [icon]="faEdit" class="edit-icon" [style]="{cursor: 'pointer'}"
                      size="lg"></fa-icon>
                    <!-- <fa-icon [icon]="faDelete" class="delete-icon" [style]="{cursor: 'pointer'}" size="lg"></fa-icon> -->
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="pagination-container">
          <p (click)="paginateIcon('pre')"><i class="fa-solid fa-chevron-left"></i></p>
          <ul>
            <li *ngFor="let i of totalPage; let indexOfElement=index" (click)="paginate(+indexOfElement + 1)"
              [class.paginate-active]="page == indexOfElement + 1">{{indexOfElement + 1}}</li>
          </ul>
          <p (click)="paginateIcon('next')"><i class="fa-solid fa-chevron-right"></i></p>
        </div>
      </div>
    </footer>
</div>

<div *ngIf="showDetail" class="modal">
  <div class="order-detail">
    <h2>Chi tiết đơn hàng {{orderDetail ? orderDetail._id : ''}}</h2>
<hr>
<div class="donhang-container">
  <div class="line"></div>
  <div class="donhang-info-container">
    <div class="donhang-header">
      <div>Sản phẩm</div>
      <div>Đơn giá</div>
      <div>Số lượng</div>
      <div>Thành tiền</div>
    </div>
    <div class="line"></div>
    <div class="cart-product-container">
      <div *ngFor="let or of orderDetail?.Details" class="donhang-product">
        <div class="donhang-info">
          <b>{{or.ProductName}}</b>
        </div>
        <div class="price-info">
          <div class="price">{{convertVND(+or.UnitPrice)}}</div>
        </div>
        <div class="quantity-box">
          {{or.Quantity}}
        </div>
        <div class="price-info">
          <div class="price">
            {{convertVND(+or.UnitPrice * +or.Quantity)}}
          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="container_detail">
  <div class="left">
    <table class="tongtien">
      <!-- <tr>
        <td style="text-align: left;">Phương thức thanh toán</td>
        <td style="text-align: right;"><strong>{{orderDetail ? orderDetail.PaymentMethod == 0 ? 'Thanh toán khi nhận hàng' : 'Chuyển khoản' : ''}}</strong></td>
      </tr> -->
      <tr>
        <td style="text-align: left;">Tổng giá trị sản phẩm</td>
        <td style="text-align: right;"><strong>{{convertVND(sumPriceOfProduct)}}</strong></td>
      </tr>
      <tr>
        <td style="text-align: left;">Phí vận chuyển</td>
        <td style="text-align: right;"><strong>{{convertVND(orderDetail ? +orderDetail.CostShip : 0)}}</strong></td>
      </tr>
      <tr>
        <td style="text-align: left;">Giảm giá</td>
        <td style="text-align: right;"><strong>0 VND</strong></td>
      </tr>
      <tr>
        <td style="text-align: left;">Thành tiền</td>
        <td style="color: red; text-align: right;"><strong>{{total()}}</strong></td>
      </tr>
      <!-- <hr style="width: 100%;"> -->
      <!-- <tr>
        <td style="text-align: left;">Số tiền đã thanh toán</td>
        <td style="text-align: right;"><strong>{{finalAmountPaid}}</strong></td>
      </tr>
      <tr>
        <td style="text-align: left;"> Số tiền còn nợ </td>
        <td style="text-align: right;"><strong>{{amountOwed}}</strong></td>
      </tr> -->
    </table>
  </div>
  <div class="right">
    <textarea type="text" disabled [value]="orderDetail ? 'Note: ' + orderDetail.Note : ''"></textarea>
    <div class="btn-container">
      <button class="cancel-button" *ngIf="isShowCancel"
        [swal]="{ title: 'Lý do huỷ đơn hàng: ', input: 'text', showCancelButton: true }"
        (confirm)="changeOrderStatus($event, 'Đã huỷ')" (dismiss)="handleDismiss($event)">
        Huỷ đơn hàng
      </button>
      <button class="button" *ngIf="isShowCancel" (click)="changeOrderStatus(null, curStatusType)">{{curStatusType}}</button>
    </div>
    <p *ngIf="curStatusType == 'Đã huỷ'">
      <span style="font-weight: bold;">Lý do huỷ đơn hàng:</span> {{orderDetail.Reason}}
    </p>
  </div>
</div>

  </div>
</div>
