<h1>Quản lý đơn hàng</h1>
<h4>Tất cả đơn hàng</h4>
<hr>
<div class="container">
  <div>
    <div class="row">
      <div class="header-box">
        <h1>Danh Sách Đơn Hàng</h1>
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-between">
      <div class="sort-function">
        <select [(ngModel)]="selectedStatus" (change)="changeListByStatus()" class="form-select">
          <option [disabled]="orderstatus == 'Sắp xếp theo'" [ngValue]="orderstatus"
            *ngFor="let orderstatus of orderstatuss"> {{ orderstatus}}</option>

        </select>
      </div>

      <div class="search-box">
        <div class="d-flex">
          <button (click)="reset()" class="btn btn-outline-success">Đặt lại danh sách</button>
        </div>
      </div>
    </div>

    <footer>
      <div class="display-list mt-3">
        <table class="table text-center table-hover">
          <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Ngày đặt</th>
              <th>Ngày Giao</th>
              <th>Trạng thái</th>
              <th>Tổng tiền</th>
              <th>Tùy chỉnh</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let p of orders">
              <tr>
                <td>{{getLast5Characters(p._id)}}</td>
                <td>{{convertLocalDate(p.OrderDate)}}</td>
                <td>{{convertLocalDate(p.DeliveryTime)}}</td>
                <td>{{p.OrderStatus}}</td>
                <td>{{convertVND(+p.SubTotal)}}</td>
                <td>
                  <div class="table-action">
                    <fa-icon (click)="goToDetail(p._id)" [icon]="faEdit" class="edit-icon" [style]="{cursor: 'pointer'}"
                      size="lg"></fa-icon>
                    <fa-icon [icon]="faDelete" class="delete-icon" [style]="{cursor: 'pointer'}" size="lg"></fa-icon>
                  </div>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="pagination-container">
          <p (click)="paginateIcon('pre')"><i class="fa-solid fa-chevron-left"></i></p>
          <ul>
            <li *ngFor="let i of totalPage; let indexOfElement=index" (click)="paginate(+indexOfElement + 1)"
              [class.paginate-active]="page == indexOfElement + 1">{{indexOfElement + 1}}</li>
          </ul>
          <p (click)="paginateIcon('next')"><i class="fa-solid fa-chevron-right"></i></p>
        </div>
      </div>
    </footer>
  </div>
</div>
