<body>
  <div id="header">
      <div class="header-top">
         <div class="logo">
              <a href="./main.html"><img src="../assets/img/logo.jpg" alt=""></a>
         </div>
         <div class="btn-search" >
          <form class="inputSearch" onsubmit="submitForm(event)">
              <input
                  type="text" class="search" id="inputvalue">

              <button class="ti-search"></button>
          </form>
         </div>
          <div class="right-header-top">
              <div class="account">
                  <a href="" >
                      <i class="fa-solid fa-user"></i>
                     <span>Tài khoản</span>
                  </a>
                  <ul class="sub-nav">
                      <li>
                          <a href="./myAccount.html">
                              <i class="fa-solid fa-user"></i> Tài khoản của tôi
                          </a>
                      </li>
                      <li>
                          <a href="./register.html">
                              <i class="fa-solid fa-user-plus"></i> Đăng kí
                          </a>
                      </li>
                      <li>
                          <a href="./login.html">
                              <i class="fa-solid fa-right-to-bracket"></i> Đăng nhập
                          </a>
                      </li>

                  </ul>
              </div>
              <div class="cart">
                  <a href="./cart.html">
                      <i class="fa-solid fa-cart-shopping"></i>
                      <span>Giỏ hàng</span></a>
              </div>
              <div class="phone">
                  <a href="">
                      <i class="fa-solid fa-phone"></i>
                      <span> 0905792559</span>
                  </a>
              </div>
          </div>
      </div>
      <div class="header-bottom">
          <ul class="nav">
              <li>
                      <a href="../html/listProduct.html">
                          <i class="fa-sharp fa-solid fa-list"></i>
                          Danh mục sản phẩm
                          <i class="nav-arrow-down ti-angle-down"></i>
                      </a>
                      <ul class="sub-nav">
                          <li class="type_category"><a href="./productBanhkem.html"> Bánh kem</a></li>
                          <li class="type_category"><a href="./productCupcakes.html"> Cupcakes</a></li>
                          <li class="type_category"><a href="./productBanhquy.html"> Bánh quy</a></li>
                          <li class="type_category"><a href="./productDonuts.html"> Donuts</a></li>
                          <li class="type_category"><a href="./productBanhmi.html"> Bánh mì</a></li>
                      </ul>
              </li>
              <li class="main"><a href="../html/main.html"><span> Trang chủ</span></a></li>
              <li class="promotion"><a href="./promotion.html">Khuyến mãi</a></li>
              <li class="story"><a href="./aboutUs.html">Câu chuyện thương hiệu</a></li>
              <li class="blog now"><a href="./blog.html">Tin tức</a></li>
              <li class="contact"><a href="./contact.html">Liên hệ</a></li>
          </ul>
      </div>
  </div>
      <div class="banner">
          <img src="../assets/img/blog.png" usemap="#readnow">
      </div>
      <div class="blogs">
          <div class="baivietnoibat">
              <h2>Bài viết nổi bật</h2>
              <hr>
              <div class="baiviet-item">
                  <div class="baiviet-img">
                      <img src="../assets/img/blog1.jpg" alt="">
                  </div>
                  <div class="baiviet-mota">
                      <div class="baiviet-tieude">
                          <a href="./blogdetail.html"><b>Ăn đồ ngọt thế nào cho tốt ?</b></a>
                      </div>
                      <div class="baiviet-ngaydang">
                          <p>Ngày đăng: 20.11.2022</p>
                      </div>
                      <div class="baiviet-tacgia">
                          <p>Người viết: Đỗ Văn Dương</p>
                      </div>
                  </div>
              </div>
              <div class="baiviet-item">
                  <div class="baiviet-img">
                      <img src="../assets/img/blog2.jpg" alt="">
                  </div>
                  <div class="baiviet-mota">
                      <div class="baiviet-tieude">
                          <a href="./blogdetail.html"><b>Quyết tâm làm "nghệ sĩ" bánh ngọt</b></a>
                      </div>
                      <div class="baiviet-ngaydang">
                          <p>Ngày đăng: 05.11.2022</p>
                      </div>
                      <div class="baiviet-tacgia">
                          <p>Người viết: Mai Trần Đan Nhi</p>
                      </div>
                  </div>
              </div>
              <div class="baiviet-item">
                  <div class="baiviet-img">
                      <img src="../assets/img/blog3.jpg" alt="">
                  </div>
                  <div class="baiviet-mota">
                      <div class="baiviet-tieude">
                          <a href="./blogdetail.html"><b>Những món bánh ngọt nổi tiếng trên thế giới</b></a>
                      </div>
                      <div class="baiviet-ngaydang">
                          <p>Ngày đăng: 03.11.2022</p>
                      </div>
                      <div class="baiviet-tacgia">
                          <p>Người viết: Trần Thị Thuận</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="tintuc">
              <h1>Tin tức</h1>
              <div class="tintuc-item">
                  <div class="tintuc-img">
                      <img src="../assets/img/blog5.jpg" alt="">
                  </div>
                  <div class="tintuc-mota">
                      <div class="tintuc-tieude">
                          <a href="./blogdetail.html"><b>"Bánh ngụy trang" - trào lưu mạng xã hội</b></a>
                      </div>
                      <div class="tintuc-nguoiviet">
                          <p><i>Người viết: Văn Dương / 20.11.2022</i></p>
                      </div>
                      <div class="tintuc-mieuta">
                          <p>Mạng xã hội là nơi mà thứ gì cũng có thể thành trào lưu, là nguồn cảm hứng bất tận cho ảnh chế (meme). Việc người dân ở nhiều nước vẫn phải tự giam mình...</p>

                      </div>
                  </div>
              </div>
              <div class="tintuc-item">
                  <div class="tintuc-img">
                      <img src="../assets/img/blog4.jpg" alt="">
                  </div>
                  <div class="tintuc-mota">
                      <div class="tintuc-tieude">
                          <a href="./blogdetail.html"><b>Đại tiệc sô-cô-la tại Hà Nội</b></a>
                      </div>
                      <div class="tintuc-nguoiviet">
                          <p><i>Người viết: Thuỳ Dung / 18.11.2022</i></p>
                      </div>
                      <div class="tintuc-mieuta">
                          <p>Có một sản phẩm thơm ngon, quyến rũ, làm say lòng người … Hãy cảm nhận từ từ sự tan chảy của nó khi cho vào miệng, vị thơm của cacao, vị đăng đắng thú vị hòa quyện với vị ngọt ngào quyến rũ, … Điều bí ẩn… nằm trong viên sô-cô- la.</p>
                      </div>
                  </div>
              </div>

              <div class="tintuc-item">
                  <div class="tintuc-img">
                      <img src="../assets/img/blog2.jpg" alt="">
                  </div>
                  <div class="tintuc-mota">
                      <div class="tintuc-tieude">
                          <a href="./blogdetail.html"><b>Quyết tâm làm "nghệ sĩ" bánh ngọt</b></a>
                      </div>
                      <div class="tintuc-nguoiviet">
                          <p><i>Người viết: Đan Nhi / 05.11.2022</i></p>
                      </div>
                      <div class="tintuc-mieuta">
                          <p>Có một sản phẩm thơm ngon, quyến rũ, làm say lòng người … Hãy cảm nhận từ từ sự tan chảy của nó khi cho vào miệng, vị thơm của cacao, vị đăng đắng thú vị hòa quyện với vị ngọt ngào quyến rũ, … Điều bí ẩn… nằm trong viên sô-cô- la.</p>
                      </div>
                  </div>
              </div>

              <div class="tintuc-item">
                  <div class="tintuc-img">
                      <img src="../assets/img/blog3.jpg" alt="">
                  </div>
                  <div class="tintuc-mota">
                      <div class="tintuc-tieude">
                          <a href="./blogdetail.html"><b>Những món bánh ngọt nổi tiếng trên thế giới</b></a>
                      </div>
                      <div class="tintuc-nguoiviet">
                          <p><i>Người viết: Thị Thuận / 03.11.2022</i></p>
                      </div>
                      <div class="tintuc-mieuta">
                          <p>Hãy cảm nhận từ từ sự tan chảy của nó khi cho vào miệng, vị thơm của cacao, vị đăng đắng thú vị hòa quyện với vị ngọt ngào quyến rũ, … Điều bí ẩn… nằm trong viên sô-cô- la.</p>
                      </div>
                  </div>
              </div>
              <div class="tintuc-item">
                  <div class="tintuc-img">
                      <img src="../assets/img/blog1.jpg" alt="">
                  </div>
                  <div class="tintuc-mota">
                      <div class="tintuc-tieude">
                          <a href="./blogdetail.html"><b>Ăn đồ ngọt thế nào cho tốt ?</b></a>
                      </div>
                      <div class="tintuc-nguoiviet">
                          <p><i>Người viết: Văn Dương / 01.11.2022</i></p>
                      </div>
                      <div class="tintuc-mieuta">
                          <p>Có một sản phẩm thơm ngon, quyến rũ, làm say lòng người … Hãy cảm nhận từ từ sự tan chảy của nó khi cho vào miệng, vị thơm của cacao, vị đăng đắng thú vị hòa quyện với vị ngọt ngào quyến rũ, … Điều bí ẩn… nằm trong viên sô-cô- la.</p>
                      </div>
                  </div>
              </div>
              <div class="sotrang">
                  <a href="./blog.html"><i class="fa-solid fa-chevron-left"></i></a>
                  <a href="./blog.html">1</a>
                  <a href="./blog.html">2</a>
                  <a href="./blog.html">3</a>
                  <a href="./blog.html">4</a>
                  <a href="./blog.html">5</a>
                  <a href="./blog.html"><i class="fa-solid fa-chevron-right"></i></a>
              </div>

          </div>
      </div>
      <div class="footer">
          <div class="footer-top">
              <div class="footer-top__left">
                  <i class="ti-email"></i>
                  <div class="content">
                      <p class="title" style="font-family: 'Montserrat', sans-serif;">ĐĂNG KÍ NHẬN BẢN TIN</p>
                      <p class="para">Bạn sẽ luôn nhận được thông tin khuyến mãi mới và đặc biệt nhất!</p>
                  </div>
              </div>
              <div class="footer-top__right">
                  <input type="text" placeholder="Nhập email của bạn tại đây!">
                  <button type="button" class="btn btn-primary input">
                      Gửi
                  </button>

              </div>
          </div>
          <div class="footer-bottom">
              <div class="introduction col-5">
                  <h5>Giới thiệu</h5>
                  <p>Memory Bakery là một kênh bán hàng trực tuyến chuyên cung cấp các mặt hàng bánh ngọt bao gồm các loại bánh và phụ kiện dành cho các buổi tiệc. Memory Bakery hướng tới cung cấp một kênh bán hàng sinh động, đơn giản nhưng đầy đủ các tính năng cần thiết để mang tới những trải nghiệm tốt nhất cho khách hàng</p>
                  <a href="./main.html"><img src="../assets/img/logo.jpg" alt=""></a><br>
                  <a href="https://www.facebook.com/xn2002"><i class="fa-brands fa-facebook"></i></a>
                  <a href="https://www.youtube.com/@F8VNOfficial"><i class="fa-brands fa-youtube"></i></a>
              </div>
              <div class="contact col-3" >
                  <h5>Thông tin liên hệ</h5>
                  <span style="display:flex"><i style="margin-top: 5px;padding-right: 10px;" class="fa-solid fa-location-dot"></i> Ký túc xá khu B, Linh Trung, Thủ Đức, Hồ Chí Minh</span>
                  <span><i class="fa-solid fa-phone"></i> 0905792559</span> <br>
                  <span><i class="fa-solid fa-fax"></i> 1900.900.900</span><br>
                  <span><i class="fa-sharp fa-solid fa-envelope"></i> memory@gmail.com</span>
                  <h5>Phương thức thanh toán</h5>
                  <div class="payment-top">
                      <img class="payment-method" src="../assets/img/PHƯƠNG THỨC THANH TOÁN/DOB.png" alt="">
                      <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/Momo.png" alt="" class="payment-method">
                      <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/Mastercard.png" alt="" class="payment-method">
                  </div>
                  <div class="payment-bottom">
                      <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/JCB.png" alt="" class="payment-method">
                      <img src="../assets/img/PHƯƠNG THỨC THANH TOÁN/VISA.png" alt="" class="payment-method">
                  </div>
              </div>
              <div class="support col-2" >
                  <h5>Hỗ trợ</h5>
                  <a href="">Tìm kiếm</a><br>
                  <a href="./aboutUs.html">Giới thiệu</a><br>
                  <a href="./paymentPolicy.html">Chính sách thanh toán</a><br>
                  <a href="./privacyPolicy.html">Chính sách bảo mật</a><br>
                  <a href="./contact.html">Liên hệ</a>
              </div>
              <div class="link col-2">
                  <h5>Liên kết</h5>
                  <a href="./productBanhkem.html">Bánh kem</a><br>
                  <a href="./productCupcakes.html">Cupcakes</a><br>
                  <a href="./productBanhquy.html">Bánh quy</a><br>
                  <a href="./productDonuts.html">Donuts</a><br>
                  <a href="./productBanhmi.html">Bánh mì</a>
              </div>
          </div>
      </div>
      <figure>
      <map name="readnow">
          <area href="./blogdetail.html" coords="253,385,263,366,266,363,353,363,393,363,437,366,447,367,463,372,449,399,266,398,250,366" shape="poly">
      </map>
  </figure>

</body>
