<div id="header">
  <div class="header-top">
     <div class="logo">
          <a href=""><img src="../assets/img/logo.jpg" alt=""></a>
     </div>
     <div class="btn-search" >
      <form class="inputSearch" onsubmit="submitForm(event)">
        <input type="text" class="search" id="inputvalue" placeholder="Tìm kiếm">
        <button class="ti-search"><i style="color: var(--primary_color);font-size: 25px;display: flex; align-items: center;"  class="fa-solid fa-magnifying-glass"></i></button>
    </form>
     </div>
      <div class="right-header-top">
          <div class="isLogin">

                <a routerLink="/getlogin"  *ngIf="!login" >
                    <i class="fa-solid fa-right-to-bracket" ></i> Đăng nhập
                </a>
              </div>
              <div class="isLogin">
                <a routerLink="register" *ngIf="!login">
                  <i class="fa-solid fa-user-plus register" ></i> Đăng kí
                </a>
              </div>
              <div class="isLogin">
                <a routerLink="./myAccount" *ngIf="login">
                  <img style="width: 50px;height: 50px;border-radius: 50%;" src="{{user.Image}}" alt="">@{{user.UserName}}
                </a>
              </div>



          <div class="cart">
              <a routerLink="./getcart">
                  <i class="fa-solid fa-cart-shopping"></i>
                  <span>Giỏ hàng</span></a>
          </div>
          <div class="phone">
              <a routerLink="#">
                  <i class="fa-solid fa-phone"></i>
                  <span> 0905792559</span>
              </a>
          </div>
          <div class="isLogin">
            <a (click)="logout()" style="cursor: pointer;" *ngIf="login">
              <i class="fa-solid fa-right-to-bracket"   ></i> Đăng xuất
             </a>
            </div>
      </div>
  </div>
  <div class="header-bottom">
      <ul class="nav">
          <li>
                  <a routerLink="./listProduct">
                      <i class="fa-sharp fa-solid fa-list"></i>
                      Danh mục sản phẩm
                      <i class="nav-arrow-down ti-angle-down"></i>
                  </a>
                  <ul class="sub-nav">
                      <li class="type_category"><a [routerLink]="['/listProduct']" [queryParams]="{category: 'Bánh kem'}"> Bánh kem</a></li>
                      <li class="type_category"><a [routerLink]="['/listProduct']" [queryParams]="{category: 'Cupcakes'}"> Cupcakes</a></li>
                      <li class="type_category"><a [routerLink]="['/listProduct']" [queryParams]="{category: 'Bánh quy'}"> Bánh quy</a></li>
                      <li class="type_category"><a [routerLink]="['/listProduct']" [queryParams]="{category: 'Donuts'}"> Donuts</a></li>
                      <li class="type_category"><a [routerLink]="['/listProduct']" [queryParams]="{category: 'Bánh mì'}"> Bánh mì</a></li>
                  </ul>
          </li>
          <li class="main"  ><a class="link-btn" routerLink=""><span> Trang chủ</span></a></li>
          <li class="promotion" ><a class="link-btn" routerLink="./promotion">Khuyến mãi</a></li>
          <li class="story btnn"><a routerLink="./aboutUs">Câu chuyện thương hiệu</a></li>
          <li class="blog"><a routerLink="./blog">Tin tức</a></li>
          <li class="contact"><a routerLink="./contact">Liên hệ</a></li>
      </ul>
  </div>
</div>
