<body>
  <div class="container">
      <!-- Header -->

      <!-- Body -->
      <div class="body">
          <div class="list-product">
              <p class="title">Danh mục sản phẩm</p>
              <hr>
              <ul>
                 <span class="now"> <a href="./listProduct.html" ><li>Tất cả</li></a></span>
                  <a href="./productBanhkem.html" class="type_category"> <li>Bánh kem</li></a>
                  <a href="./productCupcakes.html" class="type_category"> <li>Cupcakes</li></a>
                  <a href="./productBanhquy.html" class="type_category"> <li>Bánh quy</li></a>

                  <a href="./productDonuts.html" class="type_category"> <li>Donuts</li></a>
                  <a href="./productBanhmi.html" class="type_category"> <li>Bánh mì</li></a>
              </ul>
              <p class="title">Khoảng giá</p>
              <hr>
              <p>Từ</p>
              <input id="price-from" type="text">
              <p> Đến</p>
              <input id="price-to" type="text">
              <button class="search-price">Tìm kiếm</button>
              <p class="title">Đánh giá</p>
              <hr>
              <a class="star-product" href="#"> <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></div></a>
              <a class="star-product" href="#"> <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i> <span>trở lên</span></div> </a>
              <a class="star-product" href="#"> <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> <span>trở lên</span></div></a>
              <a class="star-product" href="#"> <div><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> <span>trở lên</span></div></a>
              <a class="star-product" href="#"> <div><i class="fa-solid fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i><i class="fa-regular fa-star"></i> <span>trở lên</span></div></a>
          </div>
          <div id="products">
            <section class="hot-products">
              <div class="swiper mySwiper hot-product">
                <div class="swiper-wrapper products" *ngFor="let product of products">
                  <div class="swiper-slide product">
                    <div class="img-product">
                      <a href="#"><img src="{{product.Img[0]}}"></a>
                      <div class="cart-love">
                        <a href=""> <i class="fa-solid fa-cart-shopping"></i></a> <a href="#"> <i class="fa-solid fa-heart"></i></a>
                     </div>
                    </div>
                    <p class="name">{{product.Name}}</p>
                    <p class="price">
                      <span class="old-price">{{product.Variant[0].UnitPrice}} VND</span>
                      <span class="new-price">{{product.Variant[0].PromotionPrice}} VND</span>
                  </p>
                  <div><span class="star"> <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i> </span><span>530</span></div>
                  </div>
                </div>
              </div>
            </section>

          </div>

      </div>
      <div class="sotrang">
          <a href="#"><i class="fa-solid fa-chevron-left"></i></a>
          <a href="#">1</a>
          <a href="#">2</a>
          <a href="#">3</a>
          <a href="#">4</a>
          <a href="#">5</a>
          <a href="#"> <i class="fa-solid fa-chevron-right"></i></a>
      </div>
      </div>
</body>
