<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

  <!-- Phần giao diện của Quản lý khách hàng -->
    <!-- Phần title -->
    <div class="title">
      <h4 class="title">Danh sách khách hàng</h4>
    </div>

    <!-- Phần 2 button Sắp xếp và tìm kiếm -->
    <div class="content-box">
    <div class="line"></div>
    <div class="content-box-action">
      <div class="content-box-action-container--sort">
        <button id="sort-btn" (click)="isShowModelSort = !isShowModelSort" class="content-box-action--sort">
          <fa-icon  [style]="{margin: '0 10px'}" size="lg"></fa-icon>
          <span>{{isSelectedSort || 'Sắp xếp theo'}}</span>
        </button>
        <ul *ngIf="isShowModelSort" id="ulSort">
          <li (click)="selectOption(itemSort)" [class.li-active]="itemSort == isSelectedSort" value="{{itemSort}}"
              *ngFor="let itemSort of listSort">{{itemSort}}</li>
        </ul>
      </div>

      <form (ngSubmit)="submitForm()" class="content-box-action--search">
        <input class="content-box-action--search-input" [(ngModel)]="search" name="search"
            placeholder="Tìm Kiếm . . ." />
        <span class="search-icon"><i class="fa-solid fa-magnifying-glass-plus"></i></span>
    </form>
    </div>
    <div class="filter-options-container shadow p-3 mb-5 bg-body rounded" *ngIf="isSelectedSort === 'Đơn hàng'">
      <p>Hiển thị tất cả khách hàng theo:</p>
        <select class="filter-options" [(ngModel)]="selectedFilterOption" (ngModelChange)="onFilterOptionChange()">
          <option value="">Chọn một điều kiện lọc</option>
          <option value="totalOrders">Số đơn hàng</option>
          <option value="totalOrderValue">Tổng giá trị đơn hàng</option>
        </select>
        <div *ngIf="selectedFilterOption === 'totalOrders' || selectedFilterOption === 'totalOrderValue'">
          <p>Bằng</p>
          <select class="filter-options" [(ngModel)]="selectedSortOrder" (ngModelChange)="onSortOrderChange()">
            <option value="asc">Tăng dần</option>
            <option value="desc">Giảm dần</option>
          </select>
        </div>
    </div>




    <!-- Phân hiển thị danh sách -->
    <div class="content-box-table">
      <table class="table text-center table-hover">
        <thead>
          <tr>
            <th>Khách hàng</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ cụ thể</th>
            <th>Tỉnh/Thành phố</th>
            <th>Tổng đơn hàng</th>
            <th>Tổng giá trị</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody *ngFor="let c of customers" class="tr-custom" >
          <tr>
            <td>{{c.FullName}}</td>
            <td>{{c.Phone}}</td>
            <td>{{c.Address[0]?.DetailAddress}},{{c.Address[0]?.Ward}},{{c.Address[0]?.Town}} </td>
            <td>{{c.Address[0]?.City}}</td>
            <td>{{ c.Order.length}}</td>
            <td>{{c.orderValue | currency:'VND'}}</td>
            <td>
              <fa-icon (click)="showCustomerDetail(c)" [icon]="faEdit" class="edit-icon" [style]="{cursor: 'pointer'}"
              size="lg"></fa-icon>
              <fa-icon
              [swal]="{ title: 'Bạn có chắc chắn muốn xoá ', showCancelButton: true }"
              (confirm)="deleteUser(c._id)" (dismiss)="handleDismiss($event)"
              [icon]="faDelete" class="delete-icon" [style]="{cursor: 'pointer'}"
              size="lg"></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Phân trang -->
      <div class="pagination-container">
        <p (click)="paginateIcon('pre')"><i class="fa-solid fa-chevron-left"></i></p>
        <ul>
            <li *ngFor="let i of totalPage; let indexOfElement=index" (click)="paginate(indexOfElement + 1)"
                [class.paginate-active]="page == indexOfElement + 1">{{indexOfElement + 1}}</li>
        </ul>
        <p (click)="paginateIcon('next')"><i class="fa-solid fa-chevron-right"></i></p>
    </div>

    </div>
    </div>




    <div *ngIf="showDetail" class="modal">
  <div class="customer-detail">
    <div class="function">
      <button class ="close-btn" (click)="closeCustomerDetail()">Quay lại</button>
    </div>
    <div class="title">Chi tiết khách hàng {{selectedCustomer.FullName}}</div>
    <div class="information">
      <div class="sub_title">Thông tin chung</div>
      <hr>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Họ và tên:</label>
            <div class="col-sm-9">
              <input type="text" readonly="" class="form-control-plaintext" value="{{selectedCustomer.FullName}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Số điện thoại:</label>
            <div class="col-sm-9">
              <input type="text" readonly="" class="form-control-plaintext" value="{{selectedCustomer.Phone}}">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Giới tính:</label>
            <div class="col-sm-9">
              <div class="form-check form-check-inline">
                <input class="form-check-input" checked name="inlineRadioOptions" id="inlineRadio1" type="radio" [checked]="selectedCustomer.Gender === 'Nam'">
                <label class="form-check-label" for="inlineRadio1">Nam</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" [checked]="selectedCustomer.Gender === 'Nữ'">
                <label class="form-check-label" for="inlineRadio2">Nữ</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" [checked]="selectedCustomer.Gender === 'Khác'">
                <label class="form-check-label" for="inlineRadio3">Khác</label>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Ngày sinh:</label>
            <div class="col-sm-9">
              <input type="date" class="form-control-plaintext" id="inputDOB" [value]="getUserDateOfBirth()">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="text-center">
            <img src="{{selectedCustomer.Image ? selectedCustomer.Image : './assets/img/No_image.png'}}" class="rounded" alt="">
          </div>
        </div>
      </div>
    </div>


    <div class="address">
      <div class="sub_title">Thông tin địa chỉ</div>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th scope="col-4">Địa chỉ</th>
            <th scope="col-2">Phường/Xã</th>
            <th scope="col-2">Quận/Huyện</th>
            <th scope="col-2">Tỉnh/Thành phố</th>
            <th scope="col-2">Số điện thoại</th>
          </tr>
        </thead>

        <tbody >
          <tr *ngFor="let address of selectedCustomer.Address; let i = index">
                <td>{{ address.DetailAddress }}</td>
                <td>{{ address.Ward}}</td>
                <td>{{ address.Town}}</td>
                <td>{{ address.City }}</td>
                <td>{{ address.AddressPhone }}</td>
          </tr>

        </tbody>
      </table>
    </div>

    <div class="order">
      <div class="sub_title">Danh sách đơn hàng</div>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th scope="col-4">Mã đặt hàng</th>
            <th scope="col-2">Ngày đặt</th>
            <th scope="col-2">Trạng thái</th>
            <th scope="col-2">Tổng tiền</th>
          </tr>
        </thead>

        <tbody >
          <tr *ngFor="let order of selectedCustomer.Order">
                <td>{{ order._id}}</td>
                <td>{{ order.OrderDate }}</td>
                <td ><span class="status">{{ order.OrderStatus}}</span></td>
                <td>{{ order.SubTotal| currency:'VND' }}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
    </div>


