<p>customer-management works!</p>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Header -->
<div>
  <!--Phần Header ở đây  -->
</div>

<div class="container">
  <div class="left">
    <!-- Phần góc trái như My Account ở đây -->
  </div>

  <!-- Phần giao diện của Quản lý khách hàng -->
  <div>
    <!-- Phần title -->
    <div class="title">
      <h4 class="title">Danh sách khách hàng</h4>
    </div>

    <!-- Phần 2 button Sắp xếp và tìm kiếm -->
    <div class="function d-flex justify-content-between">
        <div class="sort_function">
            <select class="form-select">
              <option selected>Sắp xếp theo:</option>
              <option value="sort_name">Tăng dần theo tên</option>
              <option value="sort_date_decrease">Ngày tạo giảm dần</option>
              <option value="sort_date_increase">Ngày tạo tăng dần</option>
            </select>
        </div>

        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm...">
            <button type="submit"><i class="fa fa-search"></i></button>
        </div>
    </div>

    <!-- Phân hiển thị danh sách -->
    <div class="displayList">
      <table>
        <thead>
          <tr>
            <th><input type="checkbox" id="selectAll"></th>
            <th>Khách hàng</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ</th>
            <th>Tổng đơn hàng</th>
            <th>Tổng giá trị</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <!-- <tbody *ngFor="let c of customers| paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalCustomers }" >
          <tr>
            <td><input type="checkbox"></td>
            <td>{{c.FullName}}</td>
            <td>{{c.Phone}}</td>
            <td>{{c.Address[0]?.DetailAddress}}</td>
            <td>Tổng đơn hàng A</td>
            <td>Tổng giá trị A</td>
            <td>
              <button><i class="fa fa-detail"></i></button>
              <button><i class="fa fa-delete"></i></button>
            </td>
          </tr>
        </tbody> -->
      </table>

    <!-- Phân trang -->
    <div class="pagination">
      <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
    </div>
    </div>
  </div>
</div>
